.row
  .col-xs-6
    .dataTables_info= sprintf('Showing %d to %d of %d entries', $pageset->first, $pageset->last, $pageset->total_entries)
  .col-xs-6
    .dataTables_paginate.paging_simple_numbers
      %ul.pagination
        /
        / first page
        /
        - if ( $pageset->current_page != $pageset->first_page ) {
          %li.paginate_button.previous
            %a{ :href => '#{url_with->query([p => $pageset->first_page])}' }
              %i.icon-fast-backward
        - }
        - else {
          %li.paginate_button.previous.disabled
            %a
              %i.icon-fast-backward
        - }

        /
        / previous page
        /
        - if ($pageset->previous_page) {
          %li.paginate_button.previous
            %a{ :href => '#{url_with->query([p => $pageset->previous_page])}' }
              %i.icon-backward
        - }
        - else {
          %li.paginate_button.previous.disabled
            %a
              %i.icon-backward
        - }

        /
        / pages
        /
        - for my $p (@{ $pageset->pages_in_set }) {
        -   if ($p == $pageset->current_page) {
          %li.paginate_button.active
            %a{ :href => '#' }= $p
        -   }
        -   else {
          %li.paginate_button
            %a{ :href => '#{url_with->query([p => $p])}' }= $p
        -   }
        - }

        /
        / next page
        /
        - if ($pageset->next_page) {
          %li.paginate_button.next
            %a{ :href => '#{url_with->query([p => $pageset->next_page])} '}
              %i.icon-forward
        - }
        - else {
          %li.paginate_button.next.disabled
            %a
              %i.icon-forward
        - }

        /
        / last page
        /
        - if ( $pageset->current_page != $pageset->last_page ) {
          %li.paginate_button.next
            %a{ :href => '#{url_with->query([p => $pageset->last_page])}' }
              %i.icon-fast-forward
        - }
        - else {
          %li.paginate_button.next.disabled
            %a
              %i.icon-fast-forward
        - }
