- use utf8;

/ recent orders
                      .widget-box.transparent
                        /
                        / header
                        /
                        .widget-header.widget-header-small
                          %h4.blue.smaller
                            %i.icon-rss.orange
                            최근 주문 내역
                        /
                        / body
                        /
                        .widget-body
                          .widget-main.padding-8
                            #profile-feed-1.profile-feed
                              - for my $order ( @$orders ) {
                              -   next unless $order->status;
                              -   my $late_fee = calc_late_fee($order);
                                .profile-activity.clearfix
                                  %div
                                    %img.pull-left{ :alt => "#{ $order->user->name }'s avatar", :src => '#{ get_gravatar( $order->user, 36, https => 1 ) }' }
                                    %a{ :href => "#{ url_for( '/user/' . $order->user->id ) }" }= $order->user->name
                                    %a.order-badge{ :href => "/order/#{ $order->id }" }
                                      - if ( $order->rental_date && $order->target_date ) {
                                        %span.label.label-info.arrowed-right.arrowed-in
                                          %strong 주문서
                                          %time.js-relative-date{ :datetime => "#{ $order->rental_date }", :title => "#{ $order->rental_date->ymd }" }= $order->rental_date->month . '/' . $order->rental_date->day
                                          ~
                                          %time.js-relative-date{ :datetime => "#{ $order->target_date }", :title => "#{ $order->target_date->ymd }" }= $order->target_date->month . '/' . $order->target_date->day
                                      - }
                                      %span.label.order-status{ 'data-status' => "#{ $order->status->name }", 'data-late-fee' => "#{ $late_fee }" }
                                        %span.order-status-str= $order->status->name
                                        %span.late-fee= $order->status->name eq '대여중' && $late_fee ? commify($late_fee) . q{원} : q{}
                                    .time
                                      %i.icon-time.bigger-110
                                      = $order->create_date->ymd . q{ } . $order->create_date->hms
                                      - my $booking_date = $order->booking->date;
                                      - my $booking_ymd  = $booking_date->ymd;
                                      - my $booking_hhmm = sprintf "%02d%02d", $booking_date->hour, $booking_date->minute;
                                      %i.icon-calendar.bigger-110
                                      %a{:href => '#{url_for("/timetable/" . $booking_ymd)->fragment("timetable-$booking_hhmm")}', :title => '시간표'}
                                        = $booking_ymd
                                        = $booking_date->hms
                              - }
