- use utf8;

/ recent orders
                      .widget-box.transparent
                        /
                        / header
                        /
                        .widget-header.widget-header-small
                          %h4.blue.smaller
                            %i.icon-rss.orange
                            최근 주문 내역
                        /
                        / body
                        /
                        .widget-body
                          .widget-main.padding-8
                            #profile-feed-1.profile-feed
                              - for my $order ( @$orders ) {
                              -   next unless $order->status;
                              -   my $late_fee    = calc_late_fee($order);
                              -   my $desc        = $order->desc        || q{};
                              -   my $return_memo = $order->return_memo || q{};
                              -   for my $child ($order->orders->all) {
                              -     $desc        .= $child->desc        if $child->desc;
                              -     $return_memo .= $child->return_memo if $child->return_memo;
                              -   }
                                .profile-activity.clearfix
                                  %div
                                    %img.pull-left{ :alt => "#{ $order->user->name }'s avatar", :src => '#{ get_gravatar( $order->user, 36, https => 1 ) }' }
                                    %a{ :href => "#{ url_for( '/user/' . $order->user->id ) }" }= $order->user->name
                                    %a.order-badge{ :href => "/order/#{ $order->id }" }
                                      - if ( $order->rental_date && $order->target_date ) {
                                        %span.label.label-info.arrowed-right.arrowed-in
                                          %strong 주문서
                                          %time.js-relative-date{ :datetime => "#{ $order->rental_date }", :title => "#{ $order->rental_date->ymd }" }= $order->rental_date->month . '/' . $order->rental_date->day
                                          ~
                                          %time.js-relative-date{ :datetime => "#{ $order->target_date }", :title => "#{ $order->target_date->ymd }" }= $order->target_date->month . '/' . $order->target_date->day
                                      - }
                                      %span.label.order-status{ 'data-status' => "#{ $order->status->name }", 'data-late-fee' => "#{ $late_fee }" }
                                        %span.order-status-str= $order->status->name
                                        %span.late-fee= $order->status->name eq '대여중' && $late_fee ? commify($late_fee) . q{원} : q{}
                                      - if (($order->late_fee_pay_with && $order->late_fee_pay_with =~ /미납/)
                                      -   || ($order->compensation_pay_with && $order->compensation_pay_with =~ /미납/)) {
                                        %span.label.label-danger
                                          %i.icon-warning-sign
                                          미납
                                      - }
                                      - if (is_nonpaid($order)) {
                                        %span.label.label-danger
                                          %i.icon-warning-sign
                                          불납
                                      - }
                                      - if (my $coupon = $order->coupon) {
                                        = coupon2label($coupon)
                                      - }
                                    - if ( $user && $user->user_info && $user->user_info->weight && $order->weight ) {
                                    -   my $weight_diff = abs( $user->user_info->weight - $order->weight );
                                    -   if ( $weight_diff <= 3 ) { # 현재 몸무게와 이전 주문서의 몸무게가 -3kg ~ +3kg 이내
                                      - my $booking = $order->booking;
                                      %span.rental-fit.btn.btn-sm.btn-success{ "data-order-weight" => "#{ $order->weight }", "data-order-booking-ymd" => "#{ $booking ? $booking->date->ymd : '' }" } 대여 적합
                                    -   }
                                    -   else {
                                      %span.rental-fit.btn.btn-sm.btn-danger.disabled{ "data-order-weight" => "#{ $order->weight }" } 대여 부적합
                                    -   }
                                    - }
                                    .time
                                      %i.icon-time.bigger-110
                                      = $order->create_date->ymd . q{ } . $order->create_date->hms
                                      - if (my $booking = $order->booking) {
                                        - my $booking_date = $booking->date;
                                        - my $booking_ymd  = $booking_date->ymd;
                                        - my $booking_hhmm = sprintf "%02d%02d", $booking_date->hour, $booking_date->minute;
                                        %i.icon-calendar.bigger-110
                                        %a{:href => '#{url_for("/timetable/" . $booking_ymd)->fragment("timetable-$booking_hhmm")}', :title => '시간표'}
                                          = $booking_ymd
                                          = $booking_date->hms
                                      - }
                                    .clothes
                                      %p
                                        %span.label.label-success 의류 현황
                                      %p
                                        - my %category_score = (
                                        -   jacket   => 1,
                                        -   pants    => 2,
                                        -   skirt    => 3,
                                        -   shirt    => 4,
                                        -   blouse   => 5,
                                        -   shoes    => 6,
                                        -   tie      => 7,
                                        -   belt     => 8,
                                        -   onepiece => 9,
                                        -   coat     => 10,
                                        - );
                                        - my @sorted_clothes_list = sort {
                                        -   $category_score{ $a->category } <=> $category_score{ $b->category };
                                        - } $order->clothes->all;
                                        - for my $clothes (@sorted_clothes_list) {
                                          = clothes2link($clothes, { with_status => 1 })
                                        - }
                                    .desc
                                      %p
                                        %span.label.label-info 주문서 메모 5F
                                      %pre= $desc || "없음"
                                    .return-memo
                                      %p
                                        %span.label.label-warning 반납 확인 메모 4F
                                      %pre= $return_memo || "없음"
                              - }
