- use utf8;
!!! 5
%html{:lang => "ko"}
  %head
    %title= title . ' - ' . $site->{name}
    = include 'layouts/default/meta'
    = include 'layouts/default/before-css'
    = include 'layouts/default/before-js'
    = include 'layouts/default/theme'
    = include 'layouts/default/css-page'
    = include 'layouts/default/after-css'
    = include 'layouts/default/after-js'

  %body
    = include 'layouts/default/navbar'
    #main-container.main-container
      .main-container-inner
        %a#menu-toggler.menu-toggler{:href => '#'}
          %span.menu-text
        = include 'layouts/default/sidebar'
        .main-content
          - if ( my $alert = flash 'alert' ) {
            .alert{ :class => "alert-#{ $alert->{type} }" }
              %button.close{ :type => "button", 'data-dismiss' => 'alert' }!= '&times;'
              = $alert->{msg}
          - }
          = include 'layouts/default/breadcrumbs'
          .page-content
            .page-header
              %h1
                = $sidebar->{meta}{$page_id}{text} // q{}
                %small
                  %i.icon-double-angle-right
                  = $sidebar->{meta}{$page_id}{desc} // q{}
            .row{ :id => "#{$page_id}" }
              .col-xs-12
                / PAGE CONTENT BEGINS
                = content
                / PAGE CONTENT ENDS
    = include 'layouts/default/body-js'
    = include 'layouts/default/body-js-theme'
    = include 'layouts/default/body-js-page'
