- use utf8;
- my $_id   = 'stat-clothes-rent';
- layout 'default',
-   page_id     => $_id,
-   active_id   => 'stat-clothes-rent',
-   breadcrumbs => [
-     { text => meta_text('stat') },
-     { text => meta_text($_id)   },
-   ],
-   jses  => [
-     '/lib/chosen/js/chosen.jquery.min.js',
-   ],
-   csses => [
-     '/lib/chosen/css/chosen.min.css',
-   ],
-   ;
- title meta_text($_id);

.search
  %form.form-horizontal{ :role => 'form' }
    .form-group
      %label.col-sm-3.control-label.no-padding-right{ :for => 'category' } 종류
      .col-sm-9
        %select.col-xs-10.col-sm-5{ :name => "category", :type => 'hidden' }
          - for my $k ( qw( jacket pants skirt ) ) {
          -  if ( $k eq $category ) {
            %option{ :value => $k, :selected => "selected" }= $app->config->{category}{$k}->{str}
          -  }
          -  else {
            %option{ :value => $k }= $app->config->{category}{$k}->{str}
          -  }
          - }
    .form-group
      %label.col-sm-3.control-label.no-padding-right{ :for => 'gender' } 성별
      .col-sm-9
        %select.col-xs-10.col-sm-5{ :name => "gender", :type => 'hidden' }
          - use feature qw( switch );
          - use experimental qw( smartmatch );
          - given ($gender) {
          -   when ('male') {
            %option{ :value => 'male',  :selected => 'selected' } 남성
            %option{ :value => 'female'                         } 여성
          -   }
          -   when ('female') {
            %option{ :value => 'male'                            } 남성
            %option{ :value => 'female', :selected => 'selected' } 여성
          -   }
          -   default {
            %option{ :value => 'male'   } 남성
            %option{ :value => 'female' } 여성
          -   }
          - }
    .form-group
      %label.col-sm-3.control-label.no-padding-right{ :for => 'limit' } 한 번에 볼 개수
      .col-sm-9
        %input#limit.form-control{ :name => "limit" :placeholder => '10', :value => "#{$limit}" }
    .form-group
      %label.col-sm-3.control-label.no-padding-right{ :for => 'sort' } 회전율 정렬
      .col-sm-9
        %select.col-xs-10.col-sm-5{ :name => "sort", :type => 'hidden' }
          - use feature qw( switch );
          - use experimental qw( smartmatch );
          - given ($sort) {
          -   when ('asc') {
            %option{ :value => "asc", :selected => "selected" } 낮은 순서
            %option{ :value => "desc" } 높은 순서
          -   }
          -   when ('desc') {
            %option{ :value => "asc" } 낮은 순서
            %option{ :value => "desc", :selected => "selected" } 높은 순서
          -   }
          -   default {
            %option{ :value => "asc", :selected => "selected" } 낮은 순서
            %option{ :value => "desc" } 높은 순서
          -   }
          - }
    .form-group
      %label.col-sm-3.control-label.no-padding-right{ :for => 'status_ids' } 상태
      .col-sm-9
        %select.chosen-select.tag-input-style#status{ :name => "status_ids", "data-placeholder" => "열람할 의류 상태를 선택하세요", :multiple => "" }
          - my %status_items = (
          -   1  => "대여가능",
          -   2  => "대여중",
          -   3  => "대여불가",
          -   4  => "예약",
          -   5  => "세탁",
          -   6  => "수선",
          -   9  => "반납",
          -   10 => "부분반납",
          -   11 => "반납배송중",
          -   16 => "치수측정",
          -   17 => "의류준비",
          -   18 => "포장",
          -   19 => "결제대기",
          - );
          - for my $status_id ( sort { $a <=> $b } keys %status_items ) {
          -   use experimental qw( smartmatch );
          -   if ( $status_id ~~ $status_ids ) {
            %option{ :value => "#{$status_id}",  :selected => "" }= $status_items{$status_id}
          -   }
          -   else {
            %option{ :value => "#{$status_id}" }= $status_items{$status_id}
          -   }
          - }
    .form-actions.clearfix
      .col-md-offset-3.col-md-9
        %button.btn.btn-info.pull-right#btn-rent-search{ :type => 'button' }
          %i.ace-icon.icon-search.bigger-110
          검색
        %button.btn.btn-danger.pull-right{ :type => 'reset' }
          %i.ace-icon.icon-undo.bigger-110
          다시 쓰기

.space-4

#clothes-rent
  %h2
    의류 회전율:
    %span.category{ 'data-category' => "#{ $category }" }= $category;

  .space-4

  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th{ :rowspan => "2" } #
        %th{ :rowspan => "2" } 코드
        %th{ :rowspan => "2" } 기증자
        %th{ :rowspan => "2" } 색상
        %th{ :rowspan => "2" } 대여일
        %th{ :rowspan => "2" } 대여 가능일
        %th{ :rowspan => "2" } 회전율
        %th.center{ :colspan => "8" } 사이즈
      %tr
        - use feature qw( switch );
        - use experimental qw( smartmatch );
        - given ($category) {
        -   when ('jacket') {
          %th 가슴
          %th 윗배
          %th 팔
        -   }
        -   when ('pants') {
          %th 허리
          %th 허벅지
          %th 길이
        -   }
        -   when ('skirt') {
          %th 허리
          %th 엉덩이
          %th 길이
        -   }
        - }
    %tbody
      - my $count = $start_idx;
      - for my $data ( @$cached_page ) {
      -   my $clothes = $clothes_rs->find( { code => $data->{code} } );
        %tr
          %td= ++$count
          %td= clothes2link( $clothes, { with_status => 1 } )
          %td
            %a{ :href => "#{ url_for( '/user/' . $clothes->donation->user->id ) }" }= $clothes->donation->user->name;
          %td
            %span.color{ 'data-color' => "#{ $clothes->color }" }= $clothes->color;
          %td= $data->{rented}
          %td= $data->{rentable}
          %td= sprintf "%.2f", $data->{ratio}
          - use feature qw( switch );
          - use experimental qw( smartmatch );
          - given ($category) {
          -   when ('jacket') {
            %td= $clothes->bust;
            %td= $clothes->topbelly;
            %td= $clothes->arm;
          -   }
          -   when ('pants') {
            %td= $clothes->waist;
            %td= $clothes->thigh;
            %td= $clothes->length;
          -   }
          -   when ('skirt') {
            %td= $clothes->waist;
            %td= $clothes->hip;
            %td= $clothes->length;
          -   }
          - }
      - }

  = include 'partials/pagination'
