- use utf8;
- my $_id   = 'stat-clothes-amount';
- layout 'default',
-   page_id     => $_id,
-   active_id   => $_id,
-   breadcrumbs => [
-     { text => meta_text('stat') },
-     { text => meta_text($_id)   },
-   ],
-   ;
- title "$category · " . meta_text($_id);

%h2
  = $config->{category}{$category}{str} || $category
  %small= "$available_quantity / $quantity"
  %small= $gender eq 'male' ? '남성용' : $gender eq 'female' ? '여성용' : 'N/A'

.space-6

.row.amount-category
  .col-md-12
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th
            사이즈
            %small= $criterion
          %th 수량
          %th 가용 수량
          %th 대여중
          %th 대여불가
          %th 수선중
          %th 세탁중
          %th 분실
          %th 폐기
      %tbody
        - for my $item (@$items) {
        -   my %query_params = (
        -     category   => $category,
        -     gender     => $gender,
        -     $criterion => $item->{size},
        -   );
          %tr
            %td= $item->{size} || '사이즈 기준 항목 없음'
            %td
              %a{ :href => "#{ url_for( '/clothes' )->query( %query_params ) }" }= $item->{qty}
            %td= $item->{available_qty}
            %td
              %a{ :href => "#{ url_for( '/clothes' )->query( %query_params, status => 2 ) }" }= $item->{rental}
            %td
              %a{ :href => "#{ url_for( '/clothes' )->query( %query_params, status => 3 ) }" }= $item->{cant_rental}
            %td
              %a{ :href => "#{ url_for( '/clothes' )->query( %query_params, status => 6 ) }" }= $item->{repair}
            %td
              %a{ :href => "#{ url_for( '/clothes' )->query( %query_params, status => 5 ) }" }= $item->{cleaning}
            %td
              %a{ :href => "#{ url_for( '/clothes' )->query( %query_params, status => 7 ) }" }= $item->{lost}
            %td
              %a{ :href => "#{ url_for( '/clothes' )->query( %query_params, status => 8 ) }" }= $item->{disused}
        - }
