- use utf8;
- my $_id = 'stat-visitor';
- layout 'default',
-   page_id     => $_id,
-   jses  => [ '/lib/bootstrap3-editable/js/bootstrap-editable.min.js' ],
-   csses => [ '/lib/bootstrap3-editable/css/bootstrap-editable.css'   ],
-   ;
- title meta_text($_id);

.search
  %form#search-form
    .input-group
      %input#query.form-control{ :placeholder => '날짜를 고르세요', 'data-date-format' => 'yyyy-mm-dd' }

.space-8

#status-day
  %h2
    일별
  .space-8

  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th{ :rowspan => "2" } 일
        %th{ :colspan => "3" } 예약자
        %th{ :colspan => "3" } 방문자
        %th{ :colspan => "3" } 미방문자
        %th{ :colspan => "3" } BestFit
        %th{ :colspan => "3" } 대여자
      %tr
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
    %tbody
      - for my $row ( @{ $visitor->{daily} } ) {
        %tr
          %td
            %span
              %a{ :href => "#{ url_for( '/order' )->query( 'booking_ymd' => $row->{label} ) }" }= $row->{label}
          %td= $row->{reserved}
          %td= $row->{reserved_male}
          %td= $row->{reserved_female}
          %td= $row->{visited}
          %td= $row->{visited_male}
          %td= $row->{visited_female}
          %td= $row->{unvisited}
          %td= $row->{unvisited_male}
          %td= $row->{unvisited_female}
          %td= $row->{bestfit}
          %td= $row->{bestfit_male}
          %td= $row->{bestfit_female}
          %td= $row->{rented}
          %td= $row->{rented_male}
          %td= $row->{rented_female}
      - }

#status-week
  %h2
    주별 방문자
  .space-8

  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th{ :rowspan => "2" } 주차(시작일 ~ 종료일)
        %th{ :colspan => "3" } 예약자
        %th{ :colspan => "3" } 방문자
        %th{ :colspan => "3" } 미방문자
        %th{ :colspan => "3" } BestFit
        %th{ :colspan => "3" } 대여자
      %tr
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
    %tbody
      - for my $row ( reverse @{ $visitor->{weekly} } ) {
        %tr
          %td= $row->{label} || 0
          %td= $row->{total_reserved} || 0
          %td= $row->{total_reserved_male} || 0
          %td= $row->{total_reserved_female} || 0
          %td= $row->{total_visited} || 0
          %td= $row->{total_visited_male} || 0
          %td= $row->{total_visited_female} || 0
          %td= $row->{total_unvisited} || 0
          %td= $row->{total_unvisited_male} || 0
          %td= $row->{total_unvisited_female} || 0
          %td= $row->{total_bestfit} || 0
          %td= $row->{total_bestfit_male} || 0
          %td= $row->{total_bestfit_female} || 0
          %td= $row->{total_rented} || 0
          %td= $row->{total_rented_male} || 0
          %td= $row->{total_rented_female} || 0
      - }

#status-month
  %h2
    월별 방문자
  .space-8

  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th{ :rowspan => "2" } 연월
        %th{ :colspan => "3" } 예약자
        %th{ :colspan => "3" } 방문자
        %th{ :colspan => "3" } 미방문자
        %th{ :colspan => "3" } BestFit
        %th{ :colspan => "3" } 대여자
      %tr
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
        %th 합
        %th 남
        %th 여
    %tbody
      - for my $row ( @{ $visitor->{monthly} } ) {
        %tr
          %td= $row->{ym}
          %td= $row->{total_reserved}
          %td= $row->{total_reserved_male}
          %td= $row->{total_reserved_female}
          %td= $row->{total_visited}
          %td= $row->{total_visited_male}
          %td= $row->{total_visited_female}
          %td= $row->{total_unvisited}
          %td= $row->{total_unvisited_male}
          %td= $row->{total_unvisited_female}
          %td= $row->{total_bestfit}
          %td= $row->{total_bestfit_male}
          %td= $row->{total_bestfit_female}
          %td= $row->{total_rented}
          %td= $row->{total_rented_male}
          %td= $row->{total_rented_female}
      - }
