- use utf8;
- my $_id = 'clothes-code';
- layout 'default',
-   page_id     => $_id,
-   active_id   => 'clothes',
-   breadcrumbs => [
-     { text => meta_text('clothes'), link => url_for( meta_link('clothes') ) },
-     { text => meta_text($_id)      },
-   ],
-   jses  => [
-     '/lib/bootstrap3-editable/js/bootstrap-editable.min.js',
-     '/lib/chosen/js/chosen.jquery.min.js',
-   ],
-   csses => [
-     '/lib/bootstrap3-editable/css/bootstrap-editable.css',
-     '/lib/chosen/css/chosen.min.css',
-   ],
-   ;
- my $clothes_code = trim_clothes_code($clothes);
- title meta_text($_id) . qq{: $clothes_code};

                %div
                  #user-profile-1.user-profile.row
                    /
                    / left
                    /
                    .col-xs-12.col-sm-3.center
                      %div
                        %span.profile-picture
                          %img.avatar.img-responsive{ :src => '' }
                        .space-4
                        .width-80.label.label-info.label-xlg.arrowed-in.arrowed-in-right
                          .inline.position-relative
                            %span.white.clothes-code= $clothes_code

                      .space-6

                      .hr.hr12.dotted

                      .clearfix
                        .grid2
                          %span.bigger-175.blue
                            %a{ :href => "/user/#{ $clothes->donation->user->id }" }= $clothes->donation->user->name
                          %br
                          기증자
                        .grid2
                          %span.bigger-175.blue= $rented_count
                          %br
                          빌린 횟수
                        .grid2
                          %span.bigger-175.blue= $clothes->rentable_duration()
                          %br
                          대여가능 일
                        .grid2
                          %span.bigger-175.blue= $clothes->rented_duration();
                          %br
                          대여일
                        .grid2
                          %span.bigger-175.blue= sprintf("%.1f%%",$clothes->rent_ratio() * 100);
                          %br
                          대여율
                      .hr.hr16.dotted
                      - if (my ($first) = $clothes_code =~ /^(J|P|K)/) {
                        %h2 상하의 셋트
                        - if ($suit) {
                          - my $set = $first eq 'J' ? $suit->code_bottom : $suit->code_top;
                          - my $set_code = trim_clothes_code($set);
                          %h4
                            %a{:href => "#{ url_for('/clothes/' . $set_code) }"}= $set_code
                          %div.not-suit
                            %a.btn.btn-danger.btn-xs.btn-not-suit{:href => "#{ url_for('/api/suit/' . $set_code) }"} 셋트아님
                        - } else {
                          %form#form-suit.form-inline{:method => 'POST', :action => "#{ url_for('/api/suit') }"}
                            %input{:type => 'hidden', :name => "#{ $first eq 'J' ? 'code_top' : 'code_bottom'}", :value => $clothes_code}
                            .input-group
                              %input.form-control{:type => 'text', :placeholder => 'code', :name => "#{ $first eq 'J' ? 'code_bottom' : 'code_top'}"}
                              %span.input-group-btn
                                %button.btn.btn-sm.btn-default{:type => 'submit'} 등록
                        - }
                        %hr
                      - }
                      %h3 함께 기증된 의류
                      %ul#list-clothes-group.text-left
                        - for my $c (@$clothes_group) {
                          - my $c_code = trim_clothes_code($c);
                          %li.clothes-group-item
                            - if (my ($first) = $clothes_code =~ /^(J|P|K)/) {
                              - unless ($suit) {
                                - if ($first eq 'J' && $c_code =~ /^(P|K)/) {
                                  - if (my $s = $c->suit_code_bottom) {
                                    - my $top = $s->code_top;
                                    %a{:href => "#{ url_for('/clothes/' . $c_code) }"}= $c_code
                                    = '- ' . $c->category
                                    %a{:href => "#{ url_for('/clothes/' . $top->code) }"}= $top->code
                                  - } else {
                                    .checkbox
                                      %input{:type => 'checkbox'}
                                      %a{:href => "#{ url_for('/clothes/' . $c_code) }"}= $c_code
                                      = '- ' . $c->category
                                  - }
                                - } elsif ($first =~ /P|K/ && $c_code =~ /^J/) {
                                  - if (my $s = $c->suit_code_top) {
                                    - my $bottom = $s->code_bottom;
                                    %a{:href => "#{ url_for('/clothes/' . $c_code) }"}= $c_code
                                    = '- ' . $c->category
                                    %a{:href => "#{ url_for('/clothes/' . $bottom->code) }"}= $bottom->code
                                  - } else {
                                    .checkbox
                                      %input{:type => 'checkbox'}
                                      %a{:href => "#{ url_for('/clothes/' . $c_code) }"}= $c_code
                                      = '- ' . $c->category
                                  - }
                                - } else {
                                  %a{:href => "#{ url_for('/clothes/' . $c_code) }"}= $c_code
                                  = '- ' . $c->category
                                - }
                              - } else {
                                %a{:href => "#{ url_for('/clothes/' . $c_code) }"}= $c_code
                                = '- ' . $c->category
                              - }
                            - } else {
                              %a{:href => "#{ url_for('/clothes/' . $c_code) }"}= $c_code
                              = '- ' . $c->category
                            - }
                        - }
                      %hr

                    /
                    / right
                    /
                    .col-xs-12.col-sm-9
                      .widget-box.transparent
                        /
                        / header
                        /
                        .widget-header.widget-header-small
                          %h4.blue.smaller
                            %i.icon-bar-chart.orange
                            의류 정보
                        /
                        / body
                        /
                        .widget-body
                          .widget-main.padding-8
                            %table.table.table-striped.table-bordered
                              %thead
                                %tr
                                  %th #
                                  %th BF
                                  %th 키
                                  %th 몸무게
                                  %th 윗배
                                  %th 가슴
                                  %th 팔
                                  %th 배꼽
                                  %th 허벅지
                                  %th 엉덩이
                                  %th 허리
                                  %th 다리
                                  %th 무릎
                                  %th 발
                              %tbody
                                %tr
                                  - map { $average_size->{$_} = sprintf "%.1f", $average_size->{$_} } keys %$average_size;
                                  %td
                                    %span Avg.
                                  %td
                                  %td
                                    %span.label.label-success{:title => 'height'}= $average_size->{height}   || q{}
                                  %td
                                    %span.label.label-success{:title => 'weight'}= $average_size->{weight}   || q{}
                                  %td
                                    %span.label.label-info{:title => 'topbelly'}=  $average_size->{topbelly} || q{}
                                  %td
                                    %span.label.label-info{:title => 'bust'}=      $average_size->{bust}     || q{}
                                  %td
                                    %span.label.label-info{:title => 'arm'}=       $average_size->{arm}      || q{}
                                  %td
                                    %span.label.label-info{:title => 'belly'}=     $average_size->{belly}    || q{}
                                  %td
                                    %span.label.label-warning{:title => 'thigh'}=  $average_size->{thigh}    || q{}
                                  %td
                                    %span.label.label-warning{:title => 'hip'}=    $average_size->{hip}      || q{}
                                  %td
                                    %span.label.label-warning{:title => 'waist'}=  $average_size->{waist}    || q{}
                                  %td
                                    %span.label.label-warning{:title => 'leg'}=    $average_size->{leg}      || q{}
                                  %td
                                    %span.label.label-warning{:title => 'knee'}=   $average_size->{knee}     || q{}
                                  %td
                                    %span.label.label-warning{:title => 'foot'}=   $average_size->{foot}     || q{}
                                - my $recent_sizes_count = 0;
                                - for my $size (@$recent_sizes) {
                                  %tr
                                    %td
                                      %span= ++$recent_sizes_count
                                    %td
                                      %span=                     $size->{bestfit} ? 'v' : q{}
                                    %td
                                      %span.label.label-success{:title => 'height'}= $size->{height}   || q{}
                                    %td
                                      %span.label.label-success{:title => 'weight'}= $size->{weight}   || q{}
                                    %td
                                      %span.label.label-info{:title => 'topbelly'}=  $size->{topbelly} || q{}
                                    %td
                                      %span.label.label-info{:title => 'bust'}=      $size->{bust}     || q{}
                                    %td
                                      %span.label.label-info{:title => 'arm'}=       $size->{arm}      || q{}
                                    %td
                                      %span.label.label-info{:title => 'belly'}=     $size->{belly}    || q{}
                                    %td
                                      %span.label.label-warning{:title => 'thigh'}=  $size->{thigh}    || q{}
                                    %td
                                      %span.label.label-warning{:title => 'hip'}=       $size->{hip}   || q{}
                                    %td
                                      %span.label.label-warning{:title => 'waist'}=     $size->{waist} || q{}
                                    %td
                                      %span.label.label-warning{:title => 'leg'}=    $size->{leg}      || q{}
                                    %td
                                      %span.label.label-warning{:title => 'knee'}=   $size->{knee}     || q{}
                                    %td
                                      %span.label.label-warning{:title => 'foot'}=   $size->{foot}     || q{}
                                - }

                      .widget-box.transparent
                        /
                        / header
                        /
                        .widget-header.widget-header-small
                          %h4.blue.smaller
                            %i.icon-ok.orange
                            어울림 정보
                        /
                        / body
                        /
                        .widget-body
                          .widget-main.padding-8
                            %table.table.table-striped.table-bordered
                              %thead
                                %tr
                                  %th #
                                  %th 주문서
                                  %th 키
                                  %th 몸무게
                                  %th 윗배
                                  %th 가슴
                                  %th 팔
                                  %th 배꼽
                                  %th 허벅지
                                  %th 엉덩이
                                  %th 허리
                                  %th 다리
                                  %th 무릎
                                  %th 발
                              %tbody
                                - my $bestfit_sizes_count = 0;
                                - for my $size (@$bestfit_sizes) {
                                  %tr
                                    %td
                                      %span= ++$bestfit_sizes_count
                                    %td
                                      %span
                                        %a{ :href => "/order/#{ $size->{order_id} }" }= $size->{order_id}
                                    %td
                                      %span.label.label-success{:title => 'height'}= $size->{height}   || q{}
                                    %td
                                      %span.label.label-success{:title => 'weight'}= $size->{weight}   || q{}
                                    %td
                                      %span.label.label-info{:title => 'topbelly'}=  $size->{topbelly} || q{}
                                    %td
                                      %span.label.label-info{:title => 'bust'}=      $size->{bust}     || q{}
                                    %td
                                      %span.label.label-info{:title => 'arm'}=       $size->{arm}      || q{}
                                    %td
                                      %span.label.label-info{:title => 'belly'}=     $size->{belly}    || q{}
                                    %td
                                      %span.label.label-warning{:title => 'thigh'}=  $size->{thigh}    || q{}
                                    %td
                                      %span.label.label-warning{:title => 'hip'}=    $size->{hip}      || q{}
                                    %td
                                      %span.label.label-warning{:title => 'waist'}=  $size->{waist}    || q{}
                                    %td
                                      %span.label.label-warning{:title => 'leg'}=    $size->{leg}      || q{}
                                    %td
                                      %span.label.label-warning{:title => 'knee'}=   $size->{knee}     || q{}
                                    %td
                                      %span.label.label-warning{:title => 'foot'}=   $size->{foot}     || q{}
                                - }

                      .widget-box.transparent
                        /
                        / header
                        /
                        .widget-header.widget-header-small
                          %h4.blue.smaller
                            %i.icon-female.orange
                            의류 정보
                        /
                        / body
                        /
                        .widget-body
                          .widget-main.padding-8
                            .profile-user-info.profile-user-info-striped
                              #profile-clothes-info-data{ 'data-pk' => "#{ $clothes_code }", 'data-url' => "#{ url_for( '/api/clothes/'. $clothes_code . '.json' ) }" }
                              .profile-info-row
                                .profile-info-name 품번
                                .profile-info-value
                                  %span.clothes-code#clothes-code= $clothes_code

                              .profile-info-row
                                .profile-info-name 상태
                                .profile-info-value
                                  %span#clothes-status_id= $clothes->status->name

                              .profile-info-row
                                .profile-info-name 종류
                                .profile-info-value
                                  %span.editable#clothes-category{ 'data-name' => 'category', 'data-value' => "#{ $clothes->category }" }

                              .profile-info-row
                                .profile-info-name 성별
                                .profile-info-value
                                  %span.editable#clothes-gender{ 'data-name' => 'gender', 'data-value' => "#{ $clothes->gender }" }

                              .profile-info-row
                                .profile-info-name 색상
                                .profile-info-value
                                  %span.editable#clothes-color{ 'data-name' => 'color', 'data-value' => "#{ $clothes->color }" }

                              .profile-info-row
                                .profile-info-name 설명
                                .profile-info-value
                                  %span.editable#clothes-comment{ 'data-name' => 'comment', 'data-value' => "#{ $clothes->comment }" }

                              .profile-info-row
                                .profile-info-name 목 둘레
                                .profile-info-value
                                  %span.editable#clothes-neck{ 'data-name' => 'neck', 'data-value' => "#{ $clothes->neck }" }

                              .profile-info-row
                                .profile-info-name 가슴 둘레
                                .profile-info-value
                                  %span.editable#clothes-bust{ 'data-name' => 'bust', 'data-value' => "#{ $clothes->bust }" }

                              .profile-info-row
                                .profile-info-name 허리 둘레
                                .profile-info-value
                                  %span.editable#clothes-waist{ 'data-name' => 'waist', 'data-value' => "#{ $clothes->waist }" }

                              .profile-info-row
                                .profile-info-name 엉덩이 둘레
                                .profile-info-value
                                  %span.editable#clothes-hip{ 'data-name' => 'hip', 'data-value' => "#{ $clothes->hip }" }

                              .profile-info-row
                                .profile-info-name 윗배 둘레
                                .profile-info-value
                                  %span.editable#clothes-topbelly{ 'data-name' => 'topbelly', 'data-value' => "#{ $clothes->topbelly }" }

                              .profile-info-row
                                .profile-info-name 배꼽 둘레
                                .profile-info-value
                                  %span.editable#clothes-belly{ 'data-name' => 'belly', 'data-value' => "#{ $clothes->belly }" }

                              .profile-info-row
                                .profile-info-name 허벅지 둘레
                                .profile-info-value
                                  %span.editable#clothes-thigh{ 'data-name' => 'thigh', 'data-value' => "#{ $clothes->thigh }" }

                              .profile-info-row
                                .profile-info-name 팔 길이
                                .profile-info-value
                                  %span.editable#clothes-arm{ 'data-name' => 'arm', 'data-value' => "#{ $clothes->arm }" }

                              .profile-info-row
                                .profile-info-name 길이
                                .profile-info-value
                                  %span.editable#clothes-length{ 'data-name' => 'length', 'data-value' => "#{ $clothes->length }" }

                              .profile-info-row
                                .profile-info-name 밑단 둘레
                                .profile-info-value
                                  %span.editable#clothes-cuff{ 'data-name' => 'cuff', 'data-value' => "#{ $clothes->cuff }" }

                              .profile-info-row
                                .profile-info-name 태그
                                .profile-info-value
                                  %select.chosen-select.tag-input-style#clothes-tag{ 'data-placeholder' => '태그를 선택하세요' :multiple => '', 'data-clothes-code' => "#{ trim_clothes_code($clothes) }", 'data-base-url' => "#{ url_for('/api') }" }
                                    - no warnings 'experimental';
                                    - my $clothes_tag_ids = [ map { $_->id } $clothes->tags ];
                                    - while ( my $tag = $tag_rs->next ) {
                                    -   if ( $tag->id ~~ $clothes_tag_ids ) {
                                      %option{ :value => "#{ $tag->id }", :selected => '' }= $tag->name
                                    -   }
                                    -   else {
                                      %option{ :value => "#{ $tag->id }"}= $tag->name
                                    -   }
                                    - }

                              .profile-info-row
                                .profile-info-name 액션
                                .profile-info-value
                                  %button#btn-delete.btn.btn-danger 삭제

                      .space-20

                      - my @search_params = (
                      -   {
                      -     'order.parent_id' => undef,
                      -   },
                      -   {
                      -     join     => [qw/ order /],
                      -     order_by => { -desc => 'order.rental_date' },
                      -   },
                      - );
                      = include 'partials/recent-orders', orders => [ map { $_->order } $clothes->order_details(@search_params) ];
