- use utf8;
- my $_id = 'booking';
- layout 'default',
-   page_id     => $_id,
-   jses  => [ '/lib/bootstrap3-editable/js/bootstrap-editable.min.js' ],
-   csses => [ '/lib/bootstrap3-editable/css/bootstrap-editable.css'   ],
-   ;
- title meta_text($_id);

- my @times = qw(
-   10:00
-   10:30
-   11:00
-   11:30
-   12:00
-   12:30
-   13:00
-   13:30
-   14:00
-   14:30
-   15:00
-   15:30
-   16:00
-   16:30
-   17:00
-   17:30
-   18:00
-   18:30
-   19:00
-   19:30
-   20:00
-   20:30
-   21:00
-   21:30
-   22:00
- );
- my %booking_times;
- while ( my $booking = $booking_rs->next ) {
-   my $hm = sprintf '%02d:%02d', $booking->date->hour, $booking->date->minute;
-   $booking_times{$hm}{$booking->gender}{booking} = $booking;
-   my @users = $booking->users;
-   for my $user (@users) {
-     my $gender = $user->user_info->gender;
-     $booking_times{$hm}{$gender}{users} = [] unless $booking_times{$hm}{$gender}{users};
-     push @{ $booking_times{$hm}{$gender}{users} }, $user;
-   }
- }

.search
  %form#search-form
    .input-group
      %input#query.form-control{ :placeholder => '날짜를 고르세요', 'data-date-format' => 'yyyy-mm-dd' }

.space-8

#booking-table
  %h2= $dt_start->ymd . ' 예약 현황'
  .space-4
  %button#btn-slot-open.btn.btn.btn-sm.btn-success{ :type => 'button', 'data-date-ymd' => "#{ $dt_start->ymd }" }
    %i.bigger-110 예약 활성화
  .space-4
  #booking-data{ 'data-url' => "#{ url_for('/api/gui/booking') }" }
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th{ :rowspan => "2" } 시간
        %th{ :colspan => "2" } 남자
        %th{ :colspan => "2" } 여자
      %tr
        %th.slot 제한
        %th.name 이름
        %th.slot 제한
        %th.name 이름
    %tbody
      - for my $time (@times) {
        %tr
          %td= $time
          - my $male   = $booking_times{$time}{male};
          - my $female = $booking_times{$time}{female};
          - for my $data ( $booking_times{$time}{male}, $booking_times{$time}{female} ) {
            - my $booking = $data->{booking};
            - my $users   = $data->{users};
            %td
              - if ($booking) {
                %span.editable{ 'data-pk' => "#{ $booking->id }", 'data-name' => 'slot', 'data-value' => "#{ $booking->slot }" }
              - }
              - else {
                %span.label.label-warning CLOSED
              - }
            %td
              - if ($users) {
              -   for my $u (@$users) {
                - my $user_info = $u->user_info;
                - my $order = $booking->orders({ user_id => $u->id })->first;
                - my $booking_date = $booking->date;
                - my $msg = sprintf("[열린옷장] %s님 %s 방문 예약이 취소되었습니다. 감사합니다.", $u->name, $booking_date->strftime('%m월 %d일 %H시 %M분'));
                %span.dropdown
                  %a{:href => '#', :data-toggle => 'dropdown'}
                    = $u->name
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#{url_for( '/user/' . $u->id )}"} 사용자 정보
                    %li
                      %a.order-cancel{:href => "#{url_for('/api/order/' . $order->id)}", :title => $msg, :data-phone => $user_info->phone, :data-name => $u->name}
                        %i.icon-warning-sign.red
                        예약 취소
              -   }
              - }
          - }
      - }
