- use utf8;
- my $_id = 'clothes';
- layout 'default',
-   page_id     => $_id,
-   breadcrumbs => [ { text => meta_text($_id) } ]
-   ;
- title meta_text($_id);

%div
  %span
    %a{ :href => "#{ url_for( '/clothes' ) }" }= sprintf "전체보기 (%d)", $condition->{all};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 1 ) }" }= sprintf " 대여가능 (%d)", $condition->{1};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 2 ) }" }= sprintf " 대여중 (%d)", $condition->{2};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 3 ) }" }= sprintf " 대여불가 (%d)", $condition->{3};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 4 ) }" }= sprintf " 예약 (%d)", $condition->{4};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 5 ) }" }= sprintf " 세탁 (%d)", $condition->{5};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 6 ) }" }= sprintf " 수선 (%d)", $condition->{6};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 7 ) }" }= sprintf " 분실 (%d)", $condition->{7};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 8 ) }" }= sprintf " 폐기 (%d)", $condition->{8};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 9 ) }" }= sprintf " 반납 (%d)", $condition->{9};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 11 ) }" }= sprintf " 반납배송중 (%d)", $condition->{11};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 41 ) }" }= sprintf " 포장취소 (%d)", $condition->{41};
  %span= '|'
  %span
    %a{ :href => "#{ url_for( '/clothes' )->query( status => 42 ) }" }= sprintf " 환불 (%d)", $condition->{42};

%div
  - my $tag_count = 0;
  - while ( my $tag = $tag_list->next ) {
    %span= $tag_count++ ? q{|} : q{};
    %a{ :href => "#{ url_for( '/clothes' )->query( tag => $tag->id ) }" }= sprintf " %s (%d)", $tag->name, $tag->clothes->count;
  - }

#clothes-list-table.dataTables_wrapper
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th 옷
        %th 상태
        %th 종류
        %th 기타
    %tbody
      - while ( my $clothes = $clothes_list->next ) {
        = include 'partials/clothes', clothes => $clothes
      - }

  = include 'partials/pagination'
