- use utf8;
- my $_id = 'donation';
- layout 'default', page_id => $_id;
- title meta_text($_id);

.donation-search
  .input-group
    %input#query.form-control{ :type => 'text', :placeholder => '검색할 사용자 이름을 입력하세요.' :value => "#{$q}" }
    %span.input-group-btn
      %button#btn-search.btn.btn-sm.btn-default{ :type => 'button' }
        %i.icon-search.bigger-110
        검색
    %span.input-group-btn
      %button#btn-clear.btn.btn-sm.btn-default{ :type => 'button' }
        %i.icon-eraser.bigger-110
        지우기

.space-8

#clothes-bucket
  %ul
    - my @clothes_id;
    - while (my $clothes = $bucket->next) {
      - my $clothes_code = trim_clothes_code($clothes);
      - push @clothes_id, $clothes->id;
      %li 
        %span.label.label-default{:data-clothes-code => "#{$clothes->code}"}= $clothes_code
    - }

#donation-table
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.center #
        %th 사용자
        %th 기증일
        %th 의류
        %th 메세지
    %tbody
      - while (my $d = $donation_list->next) {
        %tr
          %td.center
            %a{ :href => "#{ url_for('/donation/' . $d->id) }" }= $d->id
          %td
            %a{ :href => "#{ url_for('/user/' . $d->user->id) }" }= $d->user->name
          %td= $d->create_date->ymd
          %td
            %ul
              - my @clothes = $d->clothes;
              - for my $clothes (@clothes) {
                - my $clothes_code = trim_clothes_code($clothes);
                %li.donation-clothes
                  %span.label.label-default{:data-clothes-code => "#{$clothes->code}"}= $clothes_code
              - }
          %td
            %a{ :href => "#{url_for('/donation/' . $d->id)}" }= substr($d->message, 0, 100) || '비어있음'
      - }

= include 'partials/pagination'
