- use utf8;
- my $_id = 'order';
- layout 'default',
-   page_id     => $_id,
-   breadcrumbs => [ { text => meta_text($_id) } ]
-   ;
- title meta_text($_id);

.search
  %form#search-form
    .input-group
      %input#booking-ymd.form-control{ :placeholder => '방문 예약 날짜를 고르세요', 'data-date-format' => 'yyyy-mm-dd' }

.space-8

%div
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => 'all' ]) }" } 전체보기
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => 'late' ]) }" } 연장중
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => 'rental-late' ]) }" } 대여중(연장아님)
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '2' ]) }" } 대여중(연장포함)
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '9' ]) }" } 반납
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '14' ]) }" } 방문예약
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '15' ]) }" } 배송예약
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '18' ]) }" } 포장
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '19' ]) }" } 결제대기
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '42' ]) }" } 환불
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '40' ]) }" } 대여안함
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '43' ]) }" } 사이즈없음
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => 'unpaid' ]) }" } 미납
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => 'undef' ]) }" } 상태없음

.space-4

#order-table
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.center #
        %th 상태
        %th 대여일
        %th 반납 예정일
        %th 대여자
        %th 담당자
        %th 대여 품목
        %th 비고
    %tbody
      - while ( my $order = $order_list->next ) {
      -   my $overdue  = calc_overdue($order);
      -   my $late_fee = calc_late_fee($order);
        %tr
          %td.center
            %a{ :href => "#{url_for('/order/' . $order->id)}" }= $order->id
          %td
            %a{ :href => "#{url_for('/order/' . $order->id)}" }
              - my $status;
              - if ( $order->status ) {
              -   $status = $order->status->name;
              -   if ( $status eq '대여중' ) {
              -     $status .= '(연장) ' . commify($late_fee) . '원' if $overdue;
              -   }
              -   elsif ( $status eq '반납' ) {
              -     my $unpaid = $order->get_column('sum_final_price');
              -     $status .= '(미납) ' . commify($unpaid) . '원' if $unpaid;
              -   }
              - }
              %span.label.order-status{ 'data-order-status' => "#{ $order->status ? $order->status->name : q{} }" }= $status || '상태없음'
              - use DateTime;
              - my $dt_today = DateTime->now( time_zone => $timezone );
              - if ( $overdue && $order->status->name eq '대여중' && $dt_today > $order->user_target_date ) {
              -   my $sms_str = sprintf(
              -     '[열린옷장] %s님, 대여기간이 %d일 연장되었습니다. 확인하시고 반납 바랍니다.',
              -     $order->user->name,
              -     $overdue,
              -     commify($late_fee),
              -   );
                %br
                %a{ :href => "#{ url_for('/sms')->query( to => $order->user->user_info->phone, msg => $sms_str ) }" }
                  연장 문자 전송
              - }
          %td
            = $order->rental_date ? $order->rental_date->ymd : q{}
          %td
            = $order->target_date ? $order->target_date->ymd : q{}
          %td
            - if ( $order->user ) {
              %a{ :href => "/user/#{ $order->user->id }" }= $order->user->name
            - }
          %td
            - if ( $order->staff ) {
              %a{ :href => "/user/#{ $order->staff->id }" }= $order->staff->name
            - }
          %td
            - my $count = 0;
            - for my $detail ( $order->order_details ) {
            -   next unless $detail->clothes;
            -   ++$count;
              = $count > 1 ? q{, } : q{}
              %span
                %a.clothes-category{ :href => '/clothes/#{ trim_clothes_code($detail->clothes) }' }= $detail->clothes->category
            - }
          %td= $order->desc || q{}
      - }

  = include 'partials/pagination'
