- use utf8;
- my $_id = 'order';
- layout 'default',
-   page_id     => $_id,
-   breadcrumbs => [ { text => meta_text($_id) } ]
-   ;
- title meta_text($_id);

%div
  %span
    %a{ :href => "#{ url_for('/order') }" } 전체보기
  %span= '|'
  %span
    %a{ :href => "#{ url_for('/order?status=late') }" } 연체중
  %span= '|'
  %span
    %a{ :href => "#{ url_for('/order?status=rental-late') }" } 대여중(연체아님)
  %span= '|'
  %span
    %a{ :href => "#{ url_for('/order?status=2') }" } 대여중(연체포함)
  %span= '|'
  %span
    %a{ :href => "#{ url_for('/order?status=9') }" } 반납
  %span= '|'
  %span
    %a{ :href => "#{ url_for('/order?status=14') }" } 방문예약
  %span= '|'
  %span
    %a{ :href => "#{ url_for('/order?status=15') }" } 배송예약
  %span= '|'
  %span
    %a{ :href => "#{ url_for('/order?status=19') }" } 결제대기
  %span= '|'
  %span
    %a{ :href => "#{ url_for('/order?status=undef') }" } 상태없음

.space-4

#order-table
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.center #
        %th 상태
        %th 대여일
        %th 반납 예정일
        %th 대여자
        %th 담당자
        %th 기타
    %tbody
      - while ( my $order = $order_list->next ) {
        %tr
          %td.center
            %a{ :href => "#{url_for('/order/' . $order->id)}" }= $order->id
          %td
            %a{ :href => "#{url_for('/order/' . $order->id)}" }
              - my $status;
              - if ( $order->status ) {
              -   $status = $order->status->name;
              -   if ( $status eq '대여중' ) {
              -     my $late_fee = calc_late_fee($order);
              -     $status .= '(연체) ' . commify($late_fee) . '원' if $late_fee;
              -   }
              - }
              %span.label.order-status{ 'data-order-status' => "#{ $order->status ? $order->status->name : q{} }" }= $status || '상태없음'
          %td
            = $order->rental_date ? $order->rental_date->ymd : q{}
          %td
            = $order->target_date ? $order->target_date->ymd : q{}
          %td
            - if ( $order->user ) {
              %a{ :href => "/user/#{ $order->user->id }" }= $order->user->name
            - }
          %td
            - if ( $order->staff ) {
              %a{ :href => "/user/#{ $order->staff->id }" }= $order->staff->name
            - }
          %td
            - my $count = 0;
            - for my $detail ( $order->order_details ) {
            -   next unless $detail->clothes;
            -   ++$count;
              = $count > 1 ? q{, } : q{}
              %span
                %a{ :href => '/clothes/#{ trim_clothes_code($detail->clothes) }' }= $detail->clothes->category
            - }
      - }
