- use utf8;
- my $_id   = 'rental';
- layout 'default',
-   page_id     => $_id,
-   breadcrumbs => [ { text => meta_text($_id) } ]
-   ;
- title meta_text($_id);

.search
  %form#search-form
    .input-group
      %input#query.form-control{ :type => 'text', :placeholder => '의류코드/이메일/이름/휴대전화' }
      %span.input-group-btn
        %button#btn-search.btn.btn-sm.btn-default{ :type => 'button' }
          %i.icon-search.bigger-110 검색
      %span.input-group-btn
        %button#btn-clear.btn.btn.btn-sm.btn-default{ :type => 'button' }
          %i.icon-eraser.bigger-110 지우기

.space-8

%form#order-form{:method => 'post', :action => '/order'}
  #clothes-table
    %h2 대여할 옷을 선택해 주세요.
    .space-4
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th.center
            %label
              %input#input-check-all.ace{ :type => 'checkbox' }
              %span.lbl
          %th 옷
          %th 상태
          %th 종류
          %th 대여 가격
          %th 기타
      %tbody
    %button#action-buttons.btn.btn-sm.btn-primary{ :type => 'button', :style => 'display: none;' } 선택한 항목을 대여합니다.

  .space-8

  #user-table
    %h2 대여할 사용자를 선택해 주세요.
    .space-4
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th
          %th 이름
          %th 연락처
          %th 방문일
          %th
            %span.label.label-success 키 / 몸무게
          %th
            %span.label.label-info    가슴 / 허리 / 엉덩이 / 배
          %th
            %span.label.label-warning 허벅지 / 팔 / 다리 / 무릎 / 발
      %tbody
        - for my $user (@$users) {
          %tr{ 'data-user-id' => "#{ $user->id }" }
            %td.center
              %label
                %input.ace{ :type => 'radio', name => 'user_id', value => "#{ $user->id}" }
                %span.lbl
            %td
              %a{ :href => "/user/#{ $user->id }" }= $user->name
            %td
              %i.icon-envelope
              %a{ :href => "mailto:#{ $user->email}" }= $user->email
              %br
              %i.icon-phone
              = $user->user_info->phone
            %td
              %strong= $user->update_date ? $user->update_date->ymd : q{}
            %td
              %div
                %span.label.label-success= $user->user_info->height || '-'
                %span.label.label-success= $user->user_info->weight || '-'
            %td
              %div
                %span.label.label-info=    $user->user_info->bust   || '-'
                %span.label.label-info=    $user->user_info->waist  || '-'
                %span.label.label-info=    $user->user_info->hip    || '-'
                %span.label.label-info=    $user->user_info->belly  || '-'
            %td
              %div

                %span.label.label-warning= $user->user_info->thigh  || '-'
                %span.label.label-warning= $user->user_info->arm    || '-'
                %span.label.label-warning= $user->user_info->leg    || '-'
                %span.label.label-warning= $user->user_info->knee   || '-'
                %span.label.label-warning= $user->user_info->foot   || '-'
        - }

:plain
  <script id="tpl-row-checkbox-disabled" type="text/html">
    <tr data-clothes-code="<%= code %>" data-order-id="<%= order.id %>">
      <td class="center">
        <label>
          <input class="ace" type="checkbox" disabled>
          <span class="lbl"></span>
        </label>
      </td>
      <td> <a href="/clothes/<%= code %>"> <%= code %> </a> </td> <!-- 옷 -->
      <td>
        <span class="order-status label">
          <%= status %>
          <span class="late-fee"><%= order.late_fee ? order.late_fee + '원' : '' %></span>
        </span>
      </td> <!-- 상태 -->
      <td>
        <span><%= categoryStr %></span>
      </td> <!-- 종류 -->
      <td>
        <span><%= price %>원</span>
      </td> <!-- 대여 가격 -->
      <td>
        <a href="/orders/<%= order.id %>"><span class="label label-info arrowed-right arrowed-in">
          <strong>주문서</strong>
          <time class="js-relative-date" datetime="<%= order.rental_date.raw %>" title="<%= order.rental_date.ymd %>"><%= order.rental_date.md %></time>
          ~
          <time class="js-relative-date" datetime="<%= order.target_date.raw %>" title="<%= order.target_date.ymd %>"><%= order.target_date.md %></time>
        </span></a>
      </td> <!-- 기타 -->
    </tr>
  </script>

:plain
  <script id="tpl-row-checkbox-enabled" type="text/html">
    <tr class="row-checkbox" data-clothes-code="<%= code %>">
      <td class="center">
        <label>
          <input class="ace" type="checkbox" name="clothes_code" value="<%= code %>" data-clothes-code="<%= code %>" checked="checked">
          <span class="lbl"></span>
        </label>
      </td>
      <td> <a href="/clothes/<%= code %>"> <%= code %> </a> </td> <!-- 옷 -->
      <td> <span class="order-status label"><%= status %></span> </td> <!-- 상태 -->
      <td>
        <span><%= categoryStr %></span>
      </td> <!-- 종류 -->
      <td>
        <span><%= price %>원</span>
      </td> <!-- 대여 가격 -->
      <td>
      </td> <!-- 기타 -->
    </tr>
  </script>

:plain
  <script id="tpl-overdue-paragraph" type="text/html">
    <span>
      연체료 <%= OpenCloset.commify(order.late_fee) %>원 = <%= OpenCloset.commify(order.clothes_price) %>원 x <%= order.overdue %>일 x 20%
    </span>
  </script>

:plain
  <script id="tpl-row-radio" type="text/html">
    <tr data-user-id="<%= id %>">
      <td class="center">
        <label>
          <input class="ace" type="radio" name="user_id" value="<%= id %>">
          <span class="lbl"></span>
        </label>
      </td>
      <td>
        <a href="/user/<%= id %>"> <%= name %> </a>
      </td>
      <td>
        <i class="icon-envelope"></i>
        <a href="mailto:<%= email %>"><%= email %></a>
        <br />
        <i class="icon-phone"></i>
        <%= phone %>
      </td>
      <td>
        <strong> <%= update_date ? update_date.substr(0, 10) : '' %> </strong>
      </td>
      <td>
        <div>
          <span class="label label-success"> <%= height || 0 %> </span>
          <span class="label label-success"> <%= weight || 0 %> </span>
        </div>
      </td>
      <td>
        <div>
          <span class="label label-info">    <%= bust   || 0 %> </span>
          <span class="label label-info">    <%= waist  || 0 %> </span>
          <span class="label label-info">    <%= hip    || 0 %> </span>
        </div>
      </td>
      <td>
        <div>
          <span class="label label-warning"> <%= thigh  || 0 %> </span>
          <span class="label label-warning"> <%= arm    || 0 %> </span>
          <span class="label label-warning"> <%= leg    || 0 %> </span>
          <span class="label label-warning"> <%= knee   || 0 %> </span>
          <span class="label label-warning"> <%= foot   || 0 %> </span>
        </div>
      </td>
    </tr>
  </script>
