- use utf8;
- my $_id = 'size-guess';
- layout 'default', page_id => $_id;
- title meta_text($_id);

- my %gender_str = ( male => '남성', female => '여성' );

.search
  - my $action_url = url_for("/size/guess");
  %form.form-horizontal#form-size-guess{ :role => 'form', :method => 'post', :action => "#{ $action_url }" }
    .form-group
      %label.col-sm-3.control-label.no-padding-right{ :for => 'height' } 키
      .col-sm-9
        %input.form-control{ :name => "height", :value => "#{$height}" }
    .form-group
      %label.col-sm-3.control-label.no-padding-right{ :for => 'weight' } 몸무게
      .col-sm-9
        %input.form-control{ :name => "weight", :value => "#{$weight}" }
    .form-group
      %label.col-sm-3.control-label.no-padding-right{ :for => 'gender' } 성별
      .col-sm-9
        %select.col-xs-10.col-sm-5{ :name => "gender", :type => 'hidden' }
          %option{ :value => '' }
          - use feature qw( switch );
          - use experimental qw( smartmatch );
          - given ($gender) {
          -   when ('male') {
            %option{ :value => 'male',  :selected => 'selected' } 남성
            %option{ :value => 'female'                         } 여성
          -   }
          -   when ('female') {
            %option{ :value => 'male'                            } 남성
            %option{ :value => 'female', :selected => 'selected' } 여성
          -   }
          -   default {
            %option{ :value => 'male'   } 남성
            %option{ :value => 'female' } 여성
          -   }
          - }
    .form-group.form-actions.clearfix
      .col-md-offset-3.col-md-9
        %button.btn.btn-info.pull-right#btn-size-guess{ :type => 'button' }
          %i.ace-icon.icon-search.bigger-110
          치수 검색
        %button.btn.btn-danger.pull-right#btn-clear{ :type => 'button' }
          %i.ace-icon.icon-undo.bigger-110
          다시 쓰기

.space-4

- if ( $gender && $gender =~ m/^(male|female)$/ && $height && $weight ) {
-   $osg_db->gender($gender);
  %table.table.table-bordered.table-condensed.table-striped
    %thead
      %tr
        %th{ :rowspan => "2" }
        %th.center{ :colspan => "9" }= int($height) - 1
        %th.center{ :colspan => "9" }= int($height)
        %th.center{ :colspan => "9" }= int($height) + 1
      %tr
        %td.center 중동
        %td.center 윗배
        %td.center 가슴
        %td.center 팔
        %td.center 엉덩이
        %td.center 허벅지
        %td.center 허리
        %td.center 무릎
        %td.center 다리
        %td.center 발

        %td.center 중동
        %td.center 윗배
        %td.center 가슴
        %td.center 팔
        %td.center 엉덩이
        %td.center 허벅지
        %td.center 허리
        %td.center 무릎
        %td.center 다리
        %td.center 발

        %td.center 중동
        %td.center 윗배
        %td.center 가슴
        %td.center 팔
        %td.center 엉덩이
        %td.center 허벅지
        %td.center 허리
        %td.center 무릎
        %td.center 다리
        %td.center 발
    %tbody
      -   for my $w ( $weight - 1 .. $weight + 1 ) {
      %tr
        %th.text-right= $w
        - for my $h ( $height - 1 .. $height + 1 ) {
        -   $osg_db->height( int $h );
        -   $osg_db->weight( int $w );
        -   my $r = $osg_db->guess;
        -   for ( qw/ belly topbelly bust arm thigh waist knee hip leg foot / ) {
        -     $r->{$_} = $r->{$_} ? sprintf('%.1f', $r->{$_}) : 'N/A';
        -   }
        -   my $class = ( int($w) == int($weight) && int($h) == int($height) ) ? "success" : q{};
          %td.text-right{ :class => "#{$class}" }= $r->{belly}
          %td.text-right{ :class => "#{$class}" }= $r->{topbelly}
          %td.text-right{ :class => "#{$class}" }= $r->{bust}
          %td.text-right{ :class => "#{$class}" }= $r->{arm}
          %td.text-right{ :class => "#{$class}" }= $r->{hip}
          %td.text-right{ :class => "#{$class}" }= $r->{thigh}
          %td.text-right{ :class => "#{$class}" }= $r->{waist}
          %td.text-right{ :class => "#{$class}" }= $r->{knee}
          %td.text-right{ :class => "#{$class}" }= $r->{leg}
          %td.text-right{ :class => "#{$class}" }= $r->{foot}
        -   }
        - }
- }

.space-4

- if ( $gender && $gender =~ m/^(male|female)$/ && $height && $weight ) {
-   $osg_db->gender($gender);
-   $osg_db->height( int $height );
-   $osg_db->weight( int $weight );
-   $osg_bodykit->gender($gender);
-   $osg_bodykit->height( int $height );
-   $osg_bodykit->weight( int $weight );
-   my $ret1 = $osg_db->guess;
-   my $ret2 = $osg_bodykit->guess;
-   for my $r ( $ret1, $ret2 ) {
-     for ( qw/ belly topbelly bust arm thigh waist knee hip leg foot / ) {
-       $r->{$_} = $r->{$_} ? sprintf('%.1f', $r->{$_}) : 'N/A';
-     }
-   }
  %table.table.table-bordered.table-condensed
    %thead
      %tr
        %th= sprintf( '%s / %s / %s', int($height), int($weight), $gender_str{$gender} );
        %th.text-right 중동
        %th.text-right 윗배
        %th.text-right 가슴
        %th.text-right 팔
        %th.text-right 엉덩이
        %th.text-right 허벅지
        %th.text-right 허리
        %th.text-right 무릎
        %th.text-right 다리
        %th.text-right 발
    %tbody
      %tr
        %th= sprintf( 'DB (%d)', $ret1->{count}{total} );
        %td.text-right
          = $ret1->{count}{belly}
          %br
          = $ret1->{belly}
        %td.text-right
          = $ret1->{count}{topbelly}
          %br
          = $ret1->{topbelly}
        %td.text-right
          = $ret1->{count}{bust}
          %br
          = $ret1->{bust}
        %td.text-right
          = $ret1->{count}{arm}
          %br
          = $ret1->{arm}
        %td.text-right
          = $ret1->{count}{hip}
          %br
          = $ret1->{hip}
        %td.text-right
          = $ret1->{count}{knee}
          %br
          = $ret1->{knee}
        %td.text-right
          = $ret1->{count}{thigh}
          %br
          = $ret1->{thigh}
        %td.text-right
          = $ret1->{count}{waist}
          %br
          = $ret1->{waist}
        %td.text-right
          = $ret1->{count}{leg}
          %br
          = $ret1->{leg}
        %td.text-right
          = $ret1->{count}{foot}
          %br
          = $ret1->{foot}
      %tr
        %th BodyKit
        %td.text-right= $ret2->{belly}
        %td.text-right= $ret2->{topbelly}
        %td.text-right= $ret2->{bust}
        %td.text-right= $ret2->{arm}
        %td.text-right= $ret2->{hip}
        %td.text-right= $ret2->{knee}
        %td.text-right= $ret2->{thigh}
        %td.text-right= $ret2->{waist}
        %td.text-right= $ret2->{leg}
        %td.text-right= $ret2->{foot}
- }

#bestfit-1-table
  %h2 어울렸던 의류 정보
  .space-4
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th 주문서
        %th 키
        %th 몸무게
        %th
          %strong 상의
        %th 가슴
        %th 윗배
        %th 배
        %th 팔
        %th
          %strong 하의
        %th 허리
        %th 엉덩이
        %th 허벅지
        %th 길이
    %tbody
      - if ( $height && $weight ) {
      -   while ( my $order = $bestfit_1_order_rs->next ) {
      -     my $jacket;
      -     my $pants;
      -     my $skirt;
      -     for my $clothes ( $order->clothes ) {
      -       use experimental qw( smartmatch );
      -       given ( $clothes->category ) {
      -         $jacket = $clothes when 'jacket';
      -         $pants  = $clothes when 'pants';
      -         $skirt  = $clothes when 'skirt';
      -       }
      -     }
        %tr{ 'data-order-id' => "#{ $order->id }" }
          %td.center
            %a{ :href => "/order/#{ $order->id }" }= $order->id
          %td= $order->height
          %td= $order->weight
          - if ($jacket) {
          -   my $c = $jacket;
          %td
            %strong
              %a{ :href => "/clothes/#{ $c->code }" }= trim_clothes_code($c)
          %td= $c->bust     || '-'
          %td= $c->topbelly || '-'
          %td= $c->belly    || '-'
          %td= $c->arm      || '-'
          - }
          - else {
          %td
          %td
          %td
          %td
          %td
          - }
          - if ( $pants || $skirt ) {
          -   my $c = $pants ? $pants : $skirt;
          %td
            %strong
              %a{ :href => "/clothes/#{ $c->code }" }= trim_clothes_code($c)
          %td= $c->waist  || '-'
          %td= $c->hip    || '-'
          %td= $c->thigh  || '-'
          %td= $c->length || '-'
          - }
          - else {
          %td
          %td
          %td
          %td
          %td
          - }
      -   }
      - }

#bestfit-3x3-table
  %h2 어울렸던 유사 의류 정보
  .space-4
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th 주문서
        %th 키
        %th 몸무게
        %th
          %strong 상의
        %th 가슴
        %th 윗배
        %th 배
        %th 팔
        %th
          %strong 하의
        %th 허리
        %th 엉덩이
        %th 허벅지
        %th 길이
    %tbody
      - if ( $height && $weight ) {
      -   while ( my $order = $bestfit_3x3_order_rs->next ) {
      -     my $class = ( int($order->weight) == int($weight) && int($order->height) == int($height) ) ? "success" : q{};
      -     my $jacket;
      -     my $pants;
      -     my $skirt;
      -     for my $clothes ( $order->clothes ) {
      -       use experimental qw( smartmatch );
      -       given ( $clothes->category ) {
      -         $jacket = $clothes when 'jacket';
      -         $pants  = $clothes when 'pants';
      -         $skirt  = $clothes when 'skirt';
      -       }
      -     }
        %tr{ :class => "#{$class}", 'data-order-id' => "#{ $order->id }" }
          %td.center
            %a{ :href => "/order/#{ $order->id }" }= $order->id
          %td= $order->height
          %td= $order->weight
          - if ($jacket) {
          -   my $c = $jacket;
          %td
            %strong
              %a{ :href => "/clothes/#{ $c->code }" }= trim_clothes_code($c)
          %td= $c->bust     || '-'
          %td= $c->topbelly || '-'
          %td= $c->belly    || '-'
          %td= $c->arm      || '-'
          - }
          - else {
          %td
          %td
          %td
          %td
          %td
          - }
          - if ( $pants || $skirt ) {
          -   my $c = $pants ? $pants : $skirt;
          %td
            %strong
              %a{ :href => "/clothes/#{ $c->code }" }= trim_clothes_code($c)
          %td= $c->waist  || '-'
          %td= $c->hip    || '-'
          %td= $c->thigh  || '-'
          %td= $c->length || '-'
          - }
          - else {
          %td
          %td
          %td
          %td
          %td
          - }
      -   }
      - }
