- use utf8;
- my $_id   = 'stat-bestfit';
- layout 'default',
-   page_id     => $_id,
-   active_id   => 'stat-bestfit',
-   breadcrumbs => [
-     { text => meta_text('stat') },
-     { text => meta_text($_id)   },
-   ],
-   ;
- title meta_text($_id);

- use Statistics::Basic;

- my %bestfit_count;
- my @orders;
- my %order_clothes;
- my %clothes_mean;
- while ( my $order = $order_rs->next ) {
-   push @orders, $order;
-   for my $order_detail ( $order->order_details ) {
-     my $clothes = $order_detail->clothes;
-     next unless $clothes;
-     next unless $clothes->category =~ m/^(jacket|skirt|pants)$/;
-     my $clothes_code = trim_clothes_code($clothes);
-     push @{ $order_clothes{ $order->id } }, $clothes;
-     push @{ $clothes_mean{$clothes_code}{$_} }, $order->$_ for qw( height weight bust waist topbelly belly arm leg knee thigh hip foot );
-     ++$bestfit_count{ trim_clothes_code($clothes) };
-   }
- }
- $order_rs->reset;

- for my $order (@orders) {
  .widget-box
    .widget-header.widget-header-flat.widget-header-small
      %h5.widget-title
        %i.ace-icon.icon-pushpin
        %span 주문서:
        %span
          %a{ :href => "#{url_for('/order/' . $order->id)}" }= $order->id
      .widget-toolbar.no-border
    .widget-body
      .widget-main
        .row
          .col-sm-12
            .desc 대여 의류 정보:
            .clothes-table
              %table.table.table-striped.table-bordered.table-hover
                %thead
                  %tr
                    %th 품번
                    %th 종류
                    %th 어울림 횟수
                    %th 기증자
                    %th 가슴
                    %th 허리
                    %th 엉덩이
                    %th 윗배
                    %th 배꼽
                    %th 허벅지
                    %th 팔
                    %th 길이
                %tbody
                  - for my $clothes ( @{ $order_clothes{ $order->id } } ) {
                  -   my $clothes_code = trim_clothes_code($clothes);
                    %tr
                      %td
                        %a{ :href => "#{url_for('/clothes/' . $clothes_code)}" }= $clothes_code
                      %td
                        %span.category{ 'data-category' => "#{ $clothes->category }" }= $clothes->category
                      %td= $bestfit_count{$clothes_code}
                      %td
                        %a{ :href => "#{ url_for('/user/' . $clothes->donation->user->id) }" }= $clothes->donation->user->name
                      %td= $clothes->bust
                      %td= $clothes->waist
                      %td= $clothes->hip
                      %td= $clothes->topbelly
                      %td= $clothes->belly
                      %td= $clothes->thigh
                      %td= $clothes->arm
                      %td= $clothes->length
                  - }

        .row
          .col-sm-12
            .desc 대여자 평균 신체 치수:
            .customer-table
              %table.table.table-striped.table-bordered.table-hover
                %thead
                  %tr
                    %th 품번
                    %th 키
                    %th 몸무게
                    %th 가슴
                    %th 허리
                    %th 윗배
                    %th 배꼽
                    %th 팔
                    %th 다리
                    %th 무릎
                    %th 허벅지
                    %th 엉덩이
                    %th 발
                %tbody
                  - for my $clothes ( @{ $order_clothes{ $order->id } } ) {
                  -   my $clothes_code = trim_clothes_code($clothes);
                    %tr
                      %td
                        %a{ :href => "#{url_for('/clothes/' . $clothes_code)}" }= $clothes_code
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{height}   } )->query
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{weight}   } )->query
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{bust}     } )->query
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{waist}    } )->query
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{topbelly} } )->query
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{belly}    } )->query
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{arm}      } )->query
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{leg}      } )->query
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{knee}     } )->query
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{thigh}    } )->query
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{hip}      } )->query
                      %td= sprintf '%.1f', Statistics::Basic::mean( @{ $clothes_mean{$clothes_code}{foot}     } )->query
                  - }
  .space-6
- }
