- use utf8;
- my $_id   = 'stat-clothes-amount';
- layout 'default',
-   page_id     => $_id,
-   active_id   => $_id,
-   breadcrumbs => [
-     { text => meta_text('stat') },
-     { text => meta_text($_id)   },
-   ],
-   ;
- title meta_text($_id);

.row
  %h2
    가용 수량은 대여가능, 대여중, 세탁, 수선, 반납 상태를 의미합니다.

.space-8

.row.amount
  .col-md-12
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th 품목
          %th 가용 수량
          %th 대여중
          %th 가용 수량(남성)
          %th 대여중(남성)
          %th 가용 수량(여성)
          %th 대여중(여성)
      %tbody
        - for my $item (@$amount) {
          - my $category = $item->{category};
          %tr
            %td
              = $config->{category}{$category}{str} || $category
            %td
              = $item->{quantity}
            %td
              = $item->{rental}
            %td
              %a{:href => '#{url_for("/stat/clothes/amount/category/$category/gender/male")}'}= $item->{male}{quantity}
            %td
              %a{:href => '#{url_for("/stat/clothes/amount/category/$category/gender/male")}'}= $item->{male}{rental}
            %td
              %a{:href => '#{url_for("/stat/clothes/amount/category/$category/gender/female")}'}= $item->{female}{quantity}
            %td
              %a{:href => '#{url_for("/stat/clothes/amount/category/$category/gender/female")}'}= $item->{female}{rental}
        - }
