- use utf8;
- my $_id   = 'tag';
- layout 'default',
-   page_id     => $_id,
-   breadcrumbs => [ { text => meta_text($_id) } ],
-   jses  => [ '/assets/components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js' ],
-   csses => [ '/assets/components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css' ],
-   ;
- title meta_text($_id);

#tag-data{ 'data-base-url' => "#{ url_for('/api/tag') }" }

.tag-add
  %form#add-form
    .input-group
      %input#query.form-control{ :type => 'text', :placeholder => '등록할 태그를 입력하세요.' }
      %span.input-group-btn
        %button#btn-tag-add.btn.btn-sm.btn-default{ :type => 'button' }
          %i.icon-plus.bigger-110
          추가

.space-8

#tag-table
  %h2 전체 태그 목록입니다.
  .space-4
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th 태그 이름
    %tbody
      - while ( my $tag = $tag_rs->next ) {
        %tr{ :class => "tag-id-#{ $tag->id }" }
          %td
            %span.tag-action
              %button.btn.btn-xs.btn-danger.btn-tag-remove{ 'data-tag-id' => "#{ $tag->id }" } 제거
            %span.editable{ :id => "tag-id-#{ $tag->id }", 'data-pk' => "#{ $tag->id }", 'data-name' => 'name', 'data-value' => "#{ $tag->name }" }
      - }

:plain
  <script id="tpl-tag" type="text/html">
    <tr class="tag-id-<%= id %>">
      <td>
        <span class="tag-action">
          <button class="btn btn-xs btn-danger" data-tag-id="<%= id %>">제거</button>
        </span>
        <span class="editable" id="tag-id-<%= id %>" data-pk="<%= id %>" data-name="name" data-value="<%= name %>">
        </span>
      </td>
    </tr>
  </script>
