- use utf8;
- my $_id = 'timetable';
- layout 'default',
-   page_id     => $_id,
-   jses  => [ 
-     '/lib/bootstrap3-editable/js/bootstrap-editable.min.js',
-     '/lib/reconnectingWebsocket/reconnecting-websocket.js',
-   ],
-   csses => [ '/lib/bootstrap3-editable/css/bootstrap-editable.css' ],
-   ;
- title meta_text($_id);

- my %count = (
-   all        => { total => 0, male => 0, female => 0 },
-   visited    => { total => 0, male => 0, female => 0 },
-   notvisited => { total => 0, male => 0, female => 0 },
-   bestfit    => { total => 0, male => 0, female => 0 },
- );
- my %orders;
- while ( my $booking = $booking_rs->next ) {
-   my $hm = sprintf '%02d:%02d', $booking->date->hour, $booking->date->minute;
-   for my $order ( $booking->orders ) {
-     my $gender = $order->user->user_info->gender;
-     ++$count{all}{total};
-     ++$count{all}{$gender};
-     if ( $order->bestfit ) {
-       ++$count{bestfit}{total};
-       ++$count{bestfit}{$gender};
-     }
-     use feature qw( switch );
-     use experimental qw( smartmatch );
-     given ( $order->status_id ) {
-       when (/^12|14$/) {
-         ++$count{notvisited}{total};
-         ++$count{notvisited}{$gender};
-       }
-     }
-     $orders{$hm}{$gender} = [] unless $orders{$hm}{$gender};
-     push @{ $orders{$hm}{$gender} }, $order;
-   }
- }
- $count{visited}{total}  = $count{all}{total}  - $count{notvisited}{total};
- $count{visited}{male}   = $count{all}{male}   - $count{notvisited}{male};
- $count{visited}{female} = $count{all}{female} - $count{notvisited}{female};

.search
  %form#search-form
    .input-group
      %input#query.form-control{ :placeholder => '날짜를 고르세요', 'data-date-format' => 'yyyy-mm-dd' }

.space-8

#timetable-table
  %h2= $dt_start->ymd . ' 방문 현황'

  .space-4

  .row
    .col-sm-12
      .infobox.infobox-blue
        .infobox-icon
          %i.icon-user
        .infobox-data
          %span.infobox-data-number
            %span.count-all-total=  $count{all}{total}
            %span= '-'
            %span.count-all-male=   $count{all}{male}
            %span= '/'
            %span.count-all-female= $count{all}{female}
          .infobox-content 총 예약자 수 - 남 / 여
      .infobox.infobox-green
        .infobox-icon
          %i.icon-user
        .infobox-data
          %span.infobox-data-number
            %span.count-visited-total=  $count{visited}{total}
            %span= '-'
            %span.count-visited-male=   $count{visited}{male}
            %span= '/'
            %span.count-visited-female= $count{visited}{female}
          .infobox-content 방문자 수 - 남 / 여
      .infobox.infobox-red
        .infobox-icon
          %i.icon-user
        .infobox-data
          %span.infobox-data-number
            %span.count-notvisited-total=  $count{notvisited}{total}
            %span= '-'
            %span.count-notvisited-male=   $count{notvisited}{male}
            %span= '/'
            %span.count-notvisited-female= $count{notvisited}{female}
          .infobox-content 미방문자 수 - 남 / 여
      .infobox.infobox-pink
        .infobox-icon
          %i.icon-user
        .infobox-data
          %span.infobox-data-number
            %span.count-bestfit-total=  $count{bestfit}{total}
            %span= '-'
            %span.count-bestfit-male=   $count{bestfit}{male}
            %span= '/'
            %span.count-bestfit-female= $count{bestfit}{female}
          .infobox-content Best-fit 수 - 남 / 여

  .space-4

  #timetable-data{ 'data-url' => "#{ url_for('/api/order') }" }
  - use List::MoreUtils;
  - my @times = qw(
  -   10:00
  -   10:30
  -   11:00
  -   11:30
  -   12:00
  -   12:30
  -   13:00
  -   13:30
  -   14:00
  -   14:30
  -   15:00
  -   15:30
  -   16:00
  -   16:30
  -   17:00
  -   17:30
  -   18:00
  -   18:30
  -   19:00
  - );
  - my $it = List::MoreUtils::natatime( 1, @times );
  - while ( my @vals = $it->() ) {
    .row
      - for my $time (@vals) {
        .col-sm-12
          .widget-box
            .widget-header.widget-header-flat.widget-header-small
              %h5.widget-title
                %i.ace-icon.icon-pushpin
                = $time
              .widget-toolbar.no-border
            .widget-body
              .widget-main
                - ( my $alert_target = $time ) =~ s/^(\d\d):(\d\d)$/timetable-$1$2/;
                %div.timetable-people{ :id => "#{$alert_target}" }
                  - for my $order ( @{ $orders{$time}{male} } ) {
                    = include 'partials/timetable-person', alert_target => $alert_target, dt_start => $dt_start, order => $order;
                  - }
                .hr.hr8.hr-double
                %div.timetable-people
                  - for my $order ( @{ $orders{$time}{female} } ) {
                    = include 'partials/timetable-person', alert_target => $alert_target, dt_start => $dt_start, order => $order;
                  - }
      - }
  - }
