- use utf8;
- my $_id = 'timetable';
- layout 'default',
-   page_id     => $_id,
-   jses  => [ '/lib/bootstrap3-editable/js/bootstrap-editable.min.js' ],
-   csses => [ '/lib/bootstrap3-editable/css/bootstrap-editable.css'   ],
-   ;
- title meta_text($_id);

- my %orders;
- while ( my $booking = $booking_rs->next ) {
-   my $hm = sprintf '%02d:%02d', $booking->date->hour, $booking->date->minute;
-   for my $order ( $booking->orders ) {
-     my $gender = $order->user->user_info->gender;
-     $orders{$hm}{$gender} = [] unless $orders{$hm}{$gender};
-     push @{ $orders{$hm}{$gender} }, $order;
-   }
- }

.search
  %form#search-form
    .input-group
      %input#query.form-control{ :placeholder => '날짜를 고르세요', 'data-date-format' => 'yyyy-mm-dd' }

.space-8

#timetable-table
  %h2= $dt_start->ymd . ' 방문 현황'
  .space-4
  #timetable-data{ 'data-url' => "#{ url_for('/api/order') }" }
  - use List::MoreUtils;
  - my @times = qw(
  -   10:00
  -   10:30
  -   11:00
  -   11:30
  -   12:00
  -   12:30
  -   13:00
  -   13:30
  -   14:00
  -   14:30
  -   15:00
  -   15:30
  -   16:00
  -   16:30
  -   17:00
  -   17:30
  - );
  - my $it = List::MoreUtils::natatime( 2, @times );
  - while ( my @vals = $it->() ) {
    .row
      - for my $time (@vals) {
        .col-sm-6
          .widget-box
            .widget-header.widget-header-flat.widget-header-small
              %h5.widget-title
                %i.ace-icon.icon-pushpin
                = $time
              .widget-toolbar.no-border
            .widget-body
              .widget-main
                - ( my $alert_target = $time ) =~ s/^(\d\d):(\d\d)$/timetable-$1$2/;
                %div.timetable-people{ :id => "#{$alert_target}" }
                  - for my $order ( @{ $orders{$time}{male} } ) {
                    :plain
                      <div class="dropdown dropdown-people" data-target="#{$alert_target}" data-order-id="#{$order->id}">
                        <ul class="dropdown-menu">
                          <li> <a tabindex="-1" href="#{ url_for( '/user/' . $order->user->id ) }">#{ $order->user->name }</a> </li>
                          <li class="divider"></li>
                          <li> <a tabindex="-1" href="#{ url_for( '/order/' . $order->id ) }"> 주문서 </a> </li>
                          <li class="divider"></li>
                          <li class="dropdown-hover dropup">
                            <a class="clearfix" tabindex="-1">
                              <span id="label-order-status-#{ $order->id }" class="pull-left">#{ $order->status->name }</span>
                              <i class="ace-icon icon-caret-right pull-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                              <li> <a class="order-status" tabindex="-1" data-status-id="13">방문    </a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="16">대기    </a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="17">치수측정</a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="18">의류준비</a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="19">탈의대기</a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="20">탈의    </a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="6" >수선    </a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="21">포장    </a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="22">결제대기</a> </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                  - }
                .hr.hr8.hr-double
                %div.timetable-people
                  - for my $order ( @{ $orders{$time}{female} } ) {
                    :plain
                      <div class="dropdown dropdown-people" data-target="#{$alert_target}" data-order-id="#{$order->id}">
                        <ul class="dropdown-menu">
                          <li> <a tabindex="-1" href="#{ url_for( '/user/' . $order->user->id ) }">#{ $order->user->name }</a> </li>
                          <li class="divider"></li>
                          <li> <a tabindex="-1" href="#{ url_for( '/order/' . $order->id ) }"> 주문서 </a> </li>
                          <li class="divider"></li>
                          <li class="dropdown-hover dropup">
                            <a class="clearfix" tabindex="-1">
                              <span id="label-order-status-#{ $order->id }" class="pull-left">#{ $order->status->name }</span>
                              <i class="ace-icon icon-caret-right pull-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                              <li> <a class="order-status" tabindex="-1" data-status-id="13">방문    </a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="16">대기    </a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="17">치수측정</a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="18">의류준비</a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="19">탈의대기</a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="20">탈의    </a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="6" >수선    </a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="21">포장    </a> </li>
                              <li> <a class="order-status" tabindex="-1" data-status-id="22">결제대기</a> </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                  - }
      - }
  - }
