- use utf8;
- my $_id = 'timetable';
- layout 'default',
-   page_id     => $_id,
-   jses  => [ 
-     '/lib/bootstrap3-editable/js/bootstrap-editable.min.js',
-     '/lib/reconnectingWebsocket/reconnecting-websocket.js',
-   ],
-   csses => [ '/lib/bootstrap3-editable/css/bootstrap-editable.css' ],
-   ;
- title meta_text($_id);

- my %count = (
-     all        => 0,
-     visited    => 0,
-     notvisited => 0,
- );
- my %orders;
- while ( my $booking = $booking_rs->next ) {
-   my $hm = sprintf '%02d:%02d', $booking->date->hour, $booking->date->minute;
-   for my $order ( $booking->orders ) {
-     ++$count{all};
-     use feature qw( switch );
-     use experimental qw( smartmatch );
-     given ( $order->status_id ) {
-       ++$count{notvisited} when 12;
-       ++$count{notvisited} when 14;
-     }
-     my $gender = $order->user->user_info->gender;
-     $orders{$hm}{$gender} = [] unless $orders{$hm}{$gender};
-     push @{ $orders{$hm}{$gender} }, $order;
-   }
- }
- $count{visited} = $count{all} - $count{notvisited};

.search
  %form#search-form
    .input-group
      %input#query.form-control{ :placeholder => '날짜를 고르세요', 'data-date-format' => 'yyyy-mm-dd' }

.space-8

#timetable-table
  %h2= $dt_start->ymd . ' 방문 현황'

  .space-4

  .row
    .col-sm-12
      .infobox.infobox-blue
        .infobox-icon
          %i.icon-user
        .infobox-data
          %span.infobox-data-number#count-all= $count{all}
          .infobox-content 총 예약자 수
      .infobox.infobox-green
        .infobox-icon
          %i.icon-user
        .infobox-data
          %span.infobox-data-number#count-visited= $count{visited}
          .infobox-content 방문자 수
      .infobox.infobox-red
        .infobox-icon
          %i.icon-user
        .infobox-data
          %span.infobox-data-number#count-notvisited= $count{notvisited}
          .infobox-content 미방문자 수

  .space-4

  #timetable-data{ 'data-url' => "#{ url_for('/api/order') }" }
  - use List::MoreUtils;
  - my @times = qw(
  -   10:00
  -   10:30
  -   11:00
  -   11:30
  -   12:00
  -   12:30
  -   13:00
  -   13:30
  -   14:00
  -   14:30
  -   15:00
  -   15:30
  -   16:00
  -   16:30
  -   17:00
  -   17:30
  - );
  - my $it = List::MoreUtils::natatime( 1, @times );
  - while ( my @vals = $it->() ) {
    .row
      - for my $time (@vals) {
        .col-sm-12
          .widget-box
            .widget-header.widget-header-flat.widget-header-small
              %h5.widget-title
                %i.ace-icon.icon-pushpin
                = $time
              .widget-toolbar.no-border
            .widget-body
              .widget-main
                - ( my $alert_target = $time ) =~ s/^(\d\d):(\d\d)$/timetable-$1$2/;
                %div.timetable-people{ :id => "#{$alert_target}" }
                  - for my $order ( @{ $orders{$time}{male} } ) {
                    = include 'partials/timetable-person', alert_target => $alert_target, dt_start => $dt_start, order => $order;
                  - }
                .hr.hr8.hr-double
                %div.timetable-people
                  - for my $order ( @{ $orders{$time}{female} } ) {
                    = include 'partials/timetable-person', alert_target => $alert_target, dt_start => $dt_start, order => $order;
                  - }
      - }
  - }
