- use utf8;
- my $_id   = 'user-id-search-clothes';
- layout 'default',
-   page_id     => $_id,
-   active_id   => 'clothes-search',
-   breadcrumbs => [
-     { text => meta_text('user') },
-     { text => meta_text($_id)   },
-   ],
-   ;
- title meta_text($_id);
- my %encode;
- @encode{ 0 .. 9, 'A' .. 'Z' } = map { sprintf "%02d", $_ } 0 .. 35;
- my $barcode = sub {
-   my $code = substr($_[0],1) if substr($_[0], 0,1) eq 0;
-   my @barcode = map { $encode{$_} } split(//, $code);
-   return $barcode[0] . $barcode[1] . '-' . $barcode[2] . $barcode[3];
- };

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th{ :rowspan => "2" } #
      %th{ :rowspan => "2" } 대여수
      %th.center{ :colspan => "7" } 상의
      %th.center{ :colspan => "7" } 하의
    %tr
      %th 기증자
      %th 코드
      %th 바코드
      %th 색상
      %th 가슴 둘레
      %th 윗배 둘래
      %th 팔길이
      %th 기증자
      %th 코드
      %th 바코드
      %th 색상
      %th 허리 둘레
      %th 허벅지 둘레
      %th 기장
  %tbody
    - my $count = 0;
    - for my $row ( @{ $result } ) {
      - my ( $upper_id, $lower_id, $upper_rs, $lower_rs, $rent_count ) = @{ $row };
      %tr
        %td= ++$count
        %td= $rent_count;
        %td
          %a{ :href => "#{ url_for( '/user/' . $upper_rs->donation->user->id) }" }= $upper_rs->donation->user->name;
        %td
          %a{ :href => "#{ url_for( '/clothes/' . trim_clothes_code($upper_rs) ) }" }= trim_clothes_code($upper_rs)
        %td
          %a{ :href => "#{ url_for( '/clothes/' . trim_clothes_code($upper_rs) ) }" }= $barcode->($upper_rs->code);
        %td
          %span.color{ 'data-color' => "#{ $upper_rs->color }" }= $upper_rs->color
        %td= $upper_rs->bust;
        %td= $upper_rs->topbelly;
        %td= $upper_rs->arm;
        %td
          %a{ :href => "#{url_for('/user/' . $lower_rs->donation->user->id) }" }= $lower_rs->donation->user->name;
        %td
          %a{ :href => "#{ url_for( '/clothes/' . trim_clothes_code($lower_rs) ) }" }= trim_clothes_code($lower_rs)
        %td
          %a{ :href => "#{ url_for( '/clothes/' . trim_clothes_code($lower_rs) ) }" }= $barcode->($lower_rs->code);
        %td
          %span.color{ 'data-color' => "#{ $lower_rs->color }" }= $lower_rs->color
        %td= $lower_rs->waist;
        %td= $lower_rs->thigh;
        %td= $lower_rs->length;
    - }

