- use utf8;
- layout 'default';
- title $user->name . '님';

                %div
                  #user-profile-1.user-profile.row
                    /
                    / left
                    /
                    .col-xs-12.col-sm-3.center
                      %div
                        %span.profile-picture
                          %img.avatar.editable.img-responsive{ :src => 'https://pbs.twimg.com/profile_images/1814758551/keedi_bigger.jpg' }
                        .space-4
                        .width-80.label.label-info.label-xlg.arrowed-in.arrowed-in-right
                          .inline.position-relative
                            %a.user-title-label{ :href => '#' }
                              %span.white= $user->name

                      .space-6

                      .profile-contact-info
                        .profile-contact-links.align-left
                          %a.btn.btn-link{ :href => '#' }
                            %i.icon-phone.bigger-120.green
                            SMS 보내기
                          %a.btn.btn-link{ :href => '#' }
                            %i.icon-envelope.bigger-120.green
                            메일 보내기
                        .space-6
                        .profile-social-links.center
                          %a.tooltip-info{ :href => '#', 'data-original-title' => 'Visit my Facebook' }
                            %i.middle.icon-facebook-sign.icon-2x.blue
                          %a.tooltip-info{ :href => '#', 'data-original-title' => 'Visit my Twitter' }
                            %i.middle.icon-twitter-sign.icon-2x.light-blue
                          %a.tooltip-info{ :href => '#', 'data-original-title' => 'Visit my Pinterest' }
                            %i.middle.icon-pinterest-sign.icon-2x.red

                      .hr.hr12.dotted

                      .clearfix
                        .grid2
                          %span.bigger-175.blue= $donated_clothes_count
                          %br
                          기증한 옷
                        .grid2
                          %span.bigger-175.blue= $rented_clothes_count
                          %br
                          빌렸던 옷
                      .hr.hr16.dotted

                    /
                    / right
                    /
                    .col-xs-12.col-sm-9
                      .widget-box.transparent
                        /
                        / header
                        /
                        .widget-header.widget-header-small
                          %h4.blue.smaller
                            %i.icon-user.orange
                            사용자 정보
                        /
                        / body
                        /
                        .widget-body
                          .widget-main.padding-8
                            .profile-user-info.profile-user-info-striped
                              .profile-info-row
                                .profile-info-name 이름
                                .profile-info-value
                                  %span.editable#user-name= $user->name
                                  = $user->user_info->staff ? " (스태프)" : q{}

                              .profile-info-row
                                .profile-info-name 전자우편
                                .profile-info-value
                                  %span.editable#user-email= $user->email

                              .profile-info-row
                                .profile-info-name 휴대전화
                                .profile-info-value
                                  %span.editable#user-phone= $user->user_info->phone

                              .profile-info-row
                                .profile-info-name 주소
                                .profile-info-value
                                  %i.icon-map-marker.light-orange.bigger-110
                                  %span.editable#user-address= $user->user_info->address

                              .profile-info-row
                                .profile-info-name 성별
                                .profile-info-value
                                  %span.editable#user-gender= $user->user_info->gender

                              .profile-info-row
                                .profile-info-name 태어난 해
                                .profile-info-value
                                  %span.editable#user-birth= $user->user_info->birth

                              .profile-info-row
                                .profile-info-name 설명
                                .profile-info-value
                                  %span.editable#user-comment= $user->user_info->comment

                              .profile-info-row
                                .profile-info-name 신체 치수
                                .profile-info-value
                                  %span.editable#user-body

                      .space-20

                      .widget-box.transparent
                        /
                        / header
                        /
                        .widget-header.widget-header-small
                          %h4.blue.smaller
                            %i.icon-rss.orange
                            최근 주문 내역
                        /
                        / body
                        /
                        .widget-body
                          .widget-main.padding-8
                            #profile-feed-1.profile-feed

                              .profile-activity.clearfix
                                %div
                                  %img.pull-left{ :alt => "#{ $user->name }'s avatar", :src => 'https://pbs.twimg.com/profile_images/1814758551/keedi_bigger.jpg' }
                                  %a.user{ :href => '#' }= $user->name
                                  changed his profile photo.
                                  %a{ :href => '#' } Take a look
                                  .time
                                    %i.icon-time.bigger-110
                                    an hour ago

                              - for ( 1 .. 10 ) {
                                .profile-activity.clearfix
                                  %div
                                    %img.pull-left{ :alt => "#{ $user->name }'s avatar", :src => 'https://pbs.twimg.com/profile_images/1814758551/keedi_bigger.jpg' }
                                    %a.user{ :href => '#' }= $user->name
                                    changed his profile photo.
                                    %a{ :href => '#' } Take a look
                                    .time
                                      %i.icon-time.bigger-110
                                      an hour ago
                              - }
