- layout 'default';
- title $user->name . '님';

- my $status_id = 1;

%ul
  %li
    %i.icon-user
    %a{:href => "#{url_for('/guests/' . $user->id)}"} #{$user->name}
    %span (#{$user->user_info->birth})
  %li
    %i.icon-map-marker
    = $user->user_info->address
  %li
    %i.icon-envelope
    %a{:href => "mailto:#{$user->email}"}= $user->email
  %li= $user->user_info->phone
  %li
    %span #{$user->user_info->height} cm,
    %span #{$user->user_info->weight} kg

%div
  %p
    %a{:href => '/guests/#{$user->id}'}= $user->name
    님
    - if ( $user->update_date ) {
      %strong= $user->update_date->ymd
      %span 방문
    - }
    %div
      %span.label.label-info.search-label
        %a{:href => "#{url_with('/search')->query([q => $user->bust])}///#{$status_id}"}= $user->bust
      %span.label.label-info.search-label
        %a{:href => "#{url_with('/search')->query([q => '/' . $user->waist . '//' . $status_id])}"}= $user->waist
      %span.label.label-info.search-label
        %a{:href => "#{url_with('/search')->query([q => '//' . $user->arm])}/#{$status_id}"}= $user->arm
      %span.label= $user->length
      %span.label= $user->height
      %span.label= $user->weight

%h3 주문내역

%ul
  - for my $order (@$orders) {
  -   next unless $order->status;
    %li
      %a{:href => "#{url_for('/orders/' . $order->id)}"}
        - if ($order->status->name eq '대여중') {
        -   if (calc_overdue($order->target_date, DateTime->now())) {
          %span.label.label-important 연체중
        -   }
        -   else {
          %span.label.label-important= $order->status->name
        -   }
          %span.highlight{:title => '대여일'}= $order->rental_date->ymd
          ~
          %span{:title => '반납예정일'}= $order->target_date->ymd
        - }
        - else {
          %span.label= $order->status->name
          %span.highlight{:title => '대여일'}= $order->rental_date->ymd
          ~
          %span.highlight{:title => '반납일'}= $order->return_date->ymd
        - }
  - }
