- use utf8;
- my $_id   = 'user-id';
- my $meta = $sidebar->{meta};
- layout 'default',
-   active_id   => $_id,
-   breadcrumbs => [
-     { text => $meta->{user}{text} },
-     { text => $meta->{$_id}{text} },
-   ],
-   jses => [
-   ],
-   csses => [
-   ],
-   ;
- title $meta->{$_id}{text} . q{: } . $user->name . q{님};

                %div
                  #user-profile-1.user-profile.row
                    /
                    / left
                    /
                    .col-xs-12.col-sm-3.center
                      %div
                        %span.profile-picture
                          %img.avatar.editable.img-responsive{ :src => 'https://pbs.twimg.com/profile_images/1814758551/keedi_bigger.jpg' }
                        .space-4
                        .width-80.label.label-info.label-xlg.arrowed-in.arrowed-in-right
                          .inline.position-relative
                            %a.user-title-label{ :href => '#' }
                              %span.white= $user->name

                      .space-6

                      .profile-contact-info
                        .profile-contact-links.align-left
                          %a.btn.btn-link{ :href => '#' }
                            %i.icon-phone.bigger-120.green
                            SMS 보내기
                          %a.btn.btn-link{ :href => '#' }
                            %i.icon-envelope.bigger-120.green
                            메일 보내기

                      .hr.hr12.dotted

                      .clearfix
                        .grid2
                          %span.bigger-175.blue= $donated_clothes_count
                          %br
                          기증한 옷
                        .grid2
                          %span.bigger-175.blue= $rented_clothes_count
                          %br
                          빌렸던 옷
                      .hr.hr16.dotted

                    /
                    / right
                    /
                    .col-xs-12.col-sm-9
                      .widget-box.transparent
                        /
                        / header
                        /
                        .widget-header.widget-header-small
                          %h4.blue.smaller
                            %i.icon-user.orange
                            사용자 정보
                        /
                        / body
                        /
                        .widget-body
                          .widget-main.padding-8
                            .profile-user-info.profile-user-info-striped
                              .profile-info-row
                                .profile-info-name 이름
                                .profile-info-value
                                  %span.editable#user-name= $user->name
                                  = $user->user_info->staff ? " (스태프)" : q{}

                              .profile-info-row
                                .profile-info-name 전자우편
                                .profile-info-value
                                  %span.editable#user-email= $user->email

                              .profile-info-row
                                .profile-info-name 휴대전화
                                .profile-info-value
                                  %span.editable#user-phone= $user->user_info->phone

                              .profile-info-row
                                .profile-info-name 주소
                                .profile-info-value
                                  %i.icon-map-marker.light-orange.bigger-110
                                  %span.editable#user-address= $user->user_info->address

                              .profile-info-row
                                .profile-info-name 성별
                                .profile-info-value
                                  %span.editable#user-gender= $user->user_info->gender

                              .profile-info-row
                                .profile-info-name 태어난 해
                                .profile-info-value
                                  %span.editable#user-birth= $user->user_info->birth

                              .profile-info-row
                                .profile-info-name 설명
                                .profile-info-value
                                  %span.editable#user-comment= $user->user_info->comment

                              .profile-info-row
                                .profile-info-name 신체 치수
                                .profile-info-value.body-size
                                  %span.label.label-success= $user->user_info->height || '-'
                                  %span.label.label-success= $user->user_info->weight || '-'
                                  %br
                                  %span.label.label-info=    $user->user_info->bust   || '-'
                                  %span.label.label-info=    $user->user_info->waist  || '-'
                                  %span.label.label-info=    $user->user_info->hip    || '-'
                                  %br
                                  %span.label.label-warning= $user->user_info->thigh  || '-'
                                  %span.label.label-warning= $user->user_info->arm    || '-'
                                  %span.label.label-warning= $user->user_info->leg    || '-'
                                  %span.label.label-warning= $user->user_info->knee   || '-'
                                  %span.label.label-warning= $user->user_info->foot   || '-'

                      .space-20

                      .widget-box.transparent
                        /
                        / header
                        /
                        .widget-header.widget-header-small
                          %h4.blue.smaller
                            %i.icon-rss.orange
                            최근 주문 내역
                        /
                        / body
                        /
                        .widget-body
                          .widget-main.padding-8
                            #profile-feed-1.profile-feed
                              - for my $order ( $user->order_users ) {
                              -   my $late_fee = calc_late_fee($order);
                                .profile-activity.clearfix
                                  %div
                                    %img.pull-left{ :alt => "#{ $user->name }'s avatar", :src => 'https://pbs.twimg.com/profile_images/1814758551/keedi_bigger.jpg' }
                                    %a.order-badge{ :href => "/order/#{ $order->id }" }
                                      %span.label.label-info.arrowed-right.arrowed-in
                                        %strong 주문서
                                        %time.js-relative-date{ :datetime => "#{ $order->rental_date }", :title => "#{ $order->rental_date->ymd }" }= $order->rental_date->month . '/' . $order->rental_date->day
                                        ~
                                        %time.js-relative-date{ :datetime => "#{ $order->target_date }", :title => "#{ $order->target_date->ymd }" }= $order->target_date->month . '/' . $order->target_date->day
                                      %span.label.order-status{ 'data-status' => "#{ $order->status->name }", 'data-late-fee' => "#{ $late_fee }" }
                                        %span.order-status-str= $order->status->name
                                        %span.late-fee= $late_fee ? commify($late_fee) . q{원} : q{}
                                    .time
                                      %i.icon-time.bigger-110
                                      = $order->create_date->ymd . q{ } . $order->create_date->hms
                              - }
