- use utf8;
- my $_id = 'order';
- layout 'default',
-   page_id     => $_id,
-   breadcrumbs => [ { text => meta_text($_id) } ],
-   jses  => [
-     '/lib/reconnectingWebsocket/reconnecting-websocket.js',
-   ];
- title meta_text($_id);

#unpaid-done-pay-with{:style => 'display: none'}
  %h3
    미납금 - 완납
    %small 결제방법을 선택해주세요
  %p.unpaid
    %span.username
    %code.unpaid
  %hr
  %form.form-inline
    .form-group
      %label 받은 금액
      %input.form-control{:type => 'text', :name => 'price'}
  %hr
  %ul.list-inline
    %li
      %a.unpaid-pay-with.label.label-default{:href => '#'} 현금
      %a.unpaid-pay-with.label.label-default{:href => '#'} 카드
      %a.unpaid-pay-with.label.label-default{:href => '#'} 계좌이체

.search
  %form#search-form
    .input-group
      %input#booking-ymd.form-control{ :placeholder => '방문 예약 날짜를 고르세요', 'data-date-format' => 'yyyy-mm-dd' }

.space-8

%div
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => 'all' ]) }" } 전체보기
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ booking_ymd => 'all', status => 'late' ]) }" } 연체중
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => 'rental-late' ]) }" } 대여중(연장아님)
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '2' ]) }" } 대여중(연장포함)
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '9' ]) }" } 반납
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '14' ]) }" } 방문예약
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '15' ]) }" } 배송예약
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '18' ]) }" } 포장
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '44' ]) }" } 포장완료
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '19' ]) }" } 결제대기
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '42' ]) }" } 환불
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '40' ]) }" } 대여안함
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => '43' ]) }" } 사이즈없음
  %span= '|'
  %span
    %a{ :href => "#{ url_for->query([ booking_ymd => 'all', status => 'unpaid' ]) }" } 미납
  %span= '|'
  %span
    %a{ :href => "#{ url_with->query([ p => 1, status => 'undef' ]) }" } 상태없음
  %span= '|'
  %span
    %a{ :href => "#{ url_for->query([ booking_ymd => 'all', status => 'nonpayment' ]) }" } 불납

.space-4

#order-table
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.center #
        %th 상태
        %th 대여일
        %th 반납 예정일
        %th 대여자
        %th 담당자
        %th 대여 품목
        %th 비고
    %tbody
      - while ( my $order = $order_list->next ) {
      -   my $overdue  = calc_overdue($order);
      -   my $late_fee = calc_late_fee($order);
      -   my $status = '';
      -   if ( $order->status ) {
      -     $status = $order->status->name;
      -     if ( $status eq '대여중' ) {
      -       $status .= '(연장) ' . commify($late_fee) . '원' if $overdue;
      -     }
      -     elsif ( $search_status eq 'unpaid' && $status eq '반납' ) {
      -       my $unpaid = $order->get_column('sum_final_price');
      -       $status .= '(미납) ' . commify($unpaid) . '원' if $unpaid;
      -     }
      -   }
        %tr
          %td.center
            %a{ :href => "#{url_for('/order/' . $order->id)}" }= $order->id
          %td
            - if ($status eq '포장완료' && $order->does_wear) {
              %p 입고감
            - }
            %a{ :href => "#{url_for('/order/' . $order->id)}" }
              %span.label.order-status{ 'data-order-status' => "#{$status}" }= $status || '상태없음'
              - if ($status eq '포장완료') {
                %span
                  %span.text-primary.glyphicon.glyphicon-arrow-right{:aria-hidden => 'true'}
                  %span.status-update.label.order-status{ 'data-order-status' => "결제대기", 'data-order-id' => "#{$order->id}", 'data-status-to' => '19' }
                    결제대기
              - } elsif ($search_status eq 'nonpayment') {
                %a.nonpayment2full.label.label-warning{:href => '#'}
                  불납
                  %i.icon-arrow-right
                  완납
              - }
              - my $sms_label;
              - my $sms_str;
              - my $is_unpaid;
              - if ( $search_status eq 'unpaid' && $order->status->name eq '반납' ) {
              -   my $unpaid = $order->get_column('sum_final_price');
              -   if ($unpaid) {
              -     $is_unpaid = 1;
              -     $sms_label = '미납 문자 전송';
              -     $sms_str   = sprintf(
              -       '[열린옷장] %s님, %d일 연장으로 인한 미납 금액 %s원 입금바랍니다. 국민은행 205737-04-003013',
              -       $order->user->name,
              -       $overdue,
              -       commify($unpaid),
              -     );
              -   }
              - }
              - else {
              -   use DateTime;
              -   my $dt_today = DateTime->now( time_zone => $timezone );
              -   if ( $overdue && $order->status->name eq '대여중' && $dt_today > $order->user_target_date ) {
              -     $sms_label = '연체 문자 전송';
              -     $sms_str   = sprintf(
              -       qq{[열린옷장] %s님 열린옷장에서 대여하신 의류의 반납이 %d일 연체되었습니다.
              - 내일까지 대여품목의 반납이 이루어지지 않거나 반납에 대한 명시적인 전화연락이 없는 경우 %s님의 반납의사가 없다고 판단하여 열린옷장은 민법 제395조에 따라 이행에 갈음한 손해배상청구를 할 수 있으며,
              - 또한 열린옷장의 소유인 물품의 반납기한이 도래한 바 이를 반환하여야 함에도 불구하고 고의로 그 반환을 거부하는 경우에는 횡령죄가 성립되는 것이므로 귀 단체는 반납을 강제하기 위하여 형법 제355조 제1항에 따라 횡령죄로 형사고소를 진행할 것임을 미리 안내드립니다.
              - 문자 안내 이후, 본 내용을 증명하기 위하여 내용증명서를 발송한 뒤 거주 관할 경찰서에 정식으로 고소장을 제출하여 법적절차를 진행할 예정입니다. 감사합니다.},
              -       $order->user->name,
              -       $overdue,
              -       $order->user->name,
              -     );
              -   }
              - }
              - if ( $sms_label && $sms_str ) {
                %br
                %a{ :href => "#{ url_for('/sms')->query( to => $order->user->user_info->phone, msg => $sms_str ) }" }= $sms_label
                - if (my $tracking_url = tracking_url($order)) {
                  %a{ :href => "#{ $tracking_url }", :target => '_blank', :title => '배송조회' }
                    %span.glyphicon.glyphicon-link
                - }
                - if ( $is_unpaid ) {
                  %br
                  %a.unpaid-done.label.label-success{:href => "#unpaid-done-pay-with", :rel => "facebox"} 완납
                  %a.unpaid-deny.label.label-danger{:href => '#'} 불납
                - }
              - }
          %td
            = $order->rental_date ? $order->rental_date->ymd : q{}
          %td
            = $order->target_date ? $order->target_date->ymd : q{}
          %td
            - if ( $order->user ) {
              %a{ :href => "/user/#{ $order->user->id }" }= $order->user->name
            - }
          %td
            - if ( $order->staff ) {
              %a{ :href => "/user/#{ $order->staff->id }" }= $order->staff->name
            - }
          %td
            - my $count = 0;
            - for my $detail ( $order->order_details ) {
            -   next unless $detail->clothes;
            -   ++$count;
              = $count > 1 ? q{, } : q{}
              %span
                %a.clothes-category{ :href => '/clothes/#{ trim_clothes_code($detail->clothes) }' }= $detail->clothes->category
            - }
          %td
            = $order->return_memo || ''
      - }

  = include 'partials/pagination'
