- use utf8;
- my $_id = 'user';
- layout 'default',
-   page_id     => $_id,
-   breadcrumbs => [ { text => meta_text($_id) } ]
-   ;
- title meta_text($_id);

.user-add
  .input-group
    %input#query.form-control{ :type => 'text', :placeholder => '검색할 사용자 이름을 입력하세요.' :value => "#{$q}" }
    %span.input-group-btn
      %button#btn-search.btn.btn-sm.btn-default{ :type => 'button' }
        %i.icon-search.bigger-110
        검색
    %span.input-group-btn
      %button#btn-clear.btn.btn-sm.btn-default{ :type => 'button' }
        %i.icon-eraser.bigger-110
        지우기
    %span.input-group-btn
      %button#btn-add.btn.btn-sm.btn-default{ :type => 'button' }
        %i.icon-plus.bigger-110
        추가

.space-8

%div
  %span
    %a{ :href => "#{ url_for('/user') }" } 전체보기
  %span= '|'
  %span
    %a{ :href => "#{ url_for('/user?staff=1') }" } 직원보기

.space-4

#user-list-table.dataTables_wrapper
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.center #
        %th 이름
        %th 성별
        %th 태어난 해
        %th 이메일
        %th 전화번호
        %th 가입일
        %th 최근 방문일
    %tbody
      - while ( my $user = $user_list->next ) {
        %tr
          %td.center
            %a{ :href => "#{url_for('/user/' . $user->id)}" }= $user->id
          %td
            %a{ :href => "#{url_for('/user/' . $user->id)}" }= $user->name
          %td
            = $user->user_info->gender ? ( $user->user_info->gender eq 'male' ? '남' : '여' ) : q{}
          %td
            = $user->user_info->birth || q{}
          %td
            = $user->email
          %td
            = $user->user_info->phone
          %td
            = $user->create_date ? $user->create_date->strftime('%Y-%m-%d %H:%M:%S') : q{}
          %td
            = $user->update_date ? $user->update_date->strftime('%Y-%m-%d %H:%M:%S') : q{}
      - }

  = include 'partials/pagination'
