- use utf8;
- my $_id   = 'user-id';
- layout 'default',
-   page_id     => $_id,
-   active_id   => 'user',
-   breadcrumbs => [
-     { text => meta_text('user'), link => url_for( meta_link('user') ) },
-     { text => meta_text($_id)   },
-   ],
-   jses  => [
-     '/lib/bootstrap/js/date-time/moment.min.js',
-     '/lib/bootstrap3-editable/js/bootstrap-editable.min.js',
-     '//cdn.poesis.kr/post/search.min.js',
-   ],
-   csses => [ 
-     '/lib/bootstrap3-editable/css/bootstrap-editable.css',
-   ],
-   ;
- title meta_text($_id) . q{: } . $user->name . q{님};

                %div
                  #user-profile-1.user-profile.row
                    /
                    / left
                    /
                    .col-xs-12.col-sm-3.center
                      %div
                        %span.profile-picture
                          %img.avatar.img-responsive{ :src => '#{ get_gravatar( $user, 180, https => 1 ) }' }
                        .space-4
                        .width-80.label.label-info.label-xlg.arrowed-in.arrowed-in-right
                          .inline.position-relative
                            %span.white.user-name= $user->name

                      .space-6

                      .profile-contact-info
                        .profile-contact-links.align-left
                          %a.btn.btn-link{ :href => "#{ url_for('/sms')->query( to => $user->user_info->phone ) }" }
                            %i.icon-phone.bigger-120.green
                            SMS 보내기
                          %a.btn.btn-link{ :href => "#{ url_for('/sms')->query( to => $user->user_info->phone, msg => measurement2text($user) ) }" }
                            %i.icon-envelope.bigger-120.green
                            신체 사이즈 전송
                          %a.btn.btn-link{ :href => "#{ url_for('/user/' . $user->id . '/search/clothes/') }" }
                            %i.icon-search.bigger-120.green
                            의류검색

                      .hr.hr12.dotted

                      .clearfix
                        .grid2
                          %span.bigger-175.blue= $donated_clothes_count
                          %br
                          %a.btn.btn-link{ :href => "#{ url_for('/donation')->query(q => $user->email) }" }
                            기증한 옷
                        .grid2
                          %span.bigger-175.blue= $rented_clothes_count
                          %br
                          빌렸던 옷
                      .hr.hr16.dotted

                    /
                    / right
                    /
                    .col-xs-12.col-sm-9
                      .widget-box.transparent
                        /
                        / header
                        /
                        .widget-header.widget-header-small
                          %h4.blue.smaller
                            %i.icon-user.orange
                            사용자 정보
                        /
                        / body
                        /
                        .widget-body
                          .widget-main.padding-8
                            .profile-user-info.profile-user-info-striped
                              #profile-user-info-data{ 'data-pk' => "#{ $user->id }", 'data-url' => "#{ url_for( '/api/user/'. $user->id . '.json' ) }" }
                              .profile-info-row
                                .profile-info-name 이름
                                .profile-info-value
                                  %span.editable#user-name{ 'data-name' => 'name' }= $user->name

                              .profile-info-row
                                .profile-info-name 분류
                                .profile-info-value
                                  %span.editable#user-staff{ 'data-name' => 'staff', 'data-type' => 'select', 'data-value' => "#{ $user->user_info->staff }" }

                              .profile-info-row
                                .profile-info-name 전자우편
                                .profile-info-value
                                  %span.editable#user-email{ 'data-name' => 'email' }= $user->email

                              .profile-info-row
                                .profile-info-name 휴대전화
                                .profile-info-value
                                  %span.editable#user-phone{ 'data-name' => 'phone' }= $user->user_info->phone

                              - if ( $user->id == current_user->id ) {
                                .profile-info-row
                                  .profile-info-name 비밀번호
                                  .profile-info-value
                                    %span.editable#user-password{ 'data-name' => 'password' }
                              - }

                              .profile-info-row
                                .profile-info-name 주소
                                .profile-info-value
                                  %i.icon-map-marker.light-orange.bigger-110
                                  %span.editable#user-address{ 'data-name' => 'address' }= $user->user_info->address2
                                %input.postcodify_building_id{:name => 'address1' :type => 'hidden', :value => "#{$user->user_info->address1}"}
                                %input.postcodify_address{:name => 'address2' :type => 'hidden', :value => "#{$user->user_info->address2}"}
                                %input.postcodify_jibeon_address{:name => 'address3' :type => 'hidden', :value => "#{$user->user_info->address3}"}

                              .profile-info-row
                                .profile-info-name 상세주소
                                .profile-info-value
                                  %i.icon-map-marker.light-orange.bigger-110
                                  %span.editable#user-detail-address{ 'data-name' => 'address4' }= $user->user_info->address4

                              .profile-info-row
                                .profile-info-name 성별
                                .profile-info-value
                                  %span.editable#user-gender{ 'data-name' => 'gender', 'data-type' => 'select', 'data-value' => "#{ $user->user_info->gender }" }

                              .profile-info-row
                                .profile-info-name 태어난 해
                                .profile-info-value
                                  %span.editable#user-birth{ 'data-name' => 'birth' }= $user->user_info->birth

                              .profile-info-row
                                .profile-info-name 대여 목적
                                .profile-info-value
                                  %span.editable#user-purpose{ 'data-name' => 'purpose', 'data-value' => "#{ $user->user_info->purpose }" }

                              .profile-info-row
                                .profile-info-name 상세 대여 목적
                                .profile-info-value
                                  %span.editable#user-purpose2{ 'data-name' => 'purpose2', 'data-value' => "#{ $user->user_info->purpose2 }" }

                              .profile-info-row
                                .profile-info-name 대여 희망 색상
                                .profile-info-value
                                  %span.editable#user-pre_color{ 'data-name' => 'pre_color', 'data-value' => "#{ $user->user_info->pre_color }" }

                              .profile-info-row
                                .profile-info-name 착용 날짜
                                .profile-info-value
                                  %span.editable#user-wearon_date{ 'data-name' => 'wearon_date', 'data-value' => "#{ $user->user_info->wearon_date ? $user->user_info->wearon_date->ymd : q{} }" }

                              .profile-info-row
                                .profile-info-name 대여 희망 품목
                                .profile-info-value
                                  %span.editable#user-pre_category{ 'data-name' => 'pre_category', 'data-value' => "#{ $user->user_info->pre_category}" }

                              - if ($does_wear) {
                                .profile-info-row
                                  .profile-info-name 착용 여부
                                  .profile-info-value
                                    %span.editable#order-does_wear{ 'data-name' => 'does_wear', 'data-type' => 'select', 'data-value' => "#{ $does_wear->does_wear }", 'data-order-id' => "#{ $does_wear->id }" }
                              - }

                              .profile-info-row
                                .profile-info-name 설명
                                .profile-info-value
                                  .profile-info-user-comment
                                    - my @additional_comments = (
                                    -     { class => "primary", value => "라운드 반팔 블라우스", },
                                    -     { class => "info",    value => "라운드 민소매 블라우스", },
                                    -     { class => "success", value => "탑 블라우스", },
                                    -     { class => "warning", value => "셔츠 블라우스", },
                                    -     { class => "danger",  value => "승무원 블라우스", },
                                    - );
                                    - for my $ac (@additional_comments) {
                                    -   my $class = $ac->{class};
                                    -   my $value = $ac->{value};
                                      %button.btn.btn-xs{ :class => "btn-#{$class}", "data-name" => $value }= $value
                                    - }
                                    %button.btn.btn-xs{ :class => "btn-default", "data-name" => "today" } 오늘 날짜
                                  %span.editable#user-comment{ 'data-name' => 'comment' }= $user->user_info->comment || ''

                              .profile-info-row
                                .profile-info-name 키
                                .profile-info-value
                                  %span.editable#user-height{ 'data-name' => 'height' }= $user->user_info->height

                              .profile-info-row
                                .profile-info-name 몸무게
                                .profile-info-value
                                  %span.editable#user-weight{ 'data-name' => 'weight' }= $user->user_info->weight

                              .profile-info-row.neck
                                .profile-info-name 목 둘레
                                .profile-info-value
                                  %span.editable#user-neck{ 'data-name' => 'neck' }= $user->user_info->neck
                                  %span.diff= $diff->{neck}
                                  %span.avg= $avg->{neck}

                              .profile-info-row.bust
                                .profile-info-name 가슴 둘레
                                .profile-info-value
                                  %span.editable#user-bust{ 'data-name' => 'bust' }= $user->user_info->bust
                                  %span.diff= $diff->{bust}
                                  %span.avg= $avg->{bust}
                                  %span.avg2= $avg2->{bust} || ''

                              .profile-info-row.waist
                                .profile-info-name 허리 둘레
                                .profile-info-value
                                  %span.editable#user-waist{ 'data-name' => 'waist' }= $user->user_info->waist
                                  %span.diff= $diff->{waist}
                                  %span.avg= $avg->{waist}
                                  %span.avg2= $avg2->{waist} || ''

                              .profile-info-row.topbelly
                                .profile-info-name 윗배 둘레
                                .profile-info-value
                                  %span.editable#user-topbelly{ 'data-name' => 'topbelly' }= $user->user_info->topbelly
                                  %span.diff= $diff->{topbelly}
                                  %span.avg= $avg->{topbelly}
                                  %span.avg2= $avg2->{topbelly} || ''

                              .profile-info-row.belly
                                .profile-info-name 배꼽 둘레
                                .profile-info-value
                                  %span.editable#user-belly{ 'data-name' => 'belly' }= $user->user_info->belly
                                  %span.diff= $diff->{belly}
                                  %span.avg= $avg->{belly}
                                  %span.avg2= $avg2->{belly} || ''

                              .profile-info-row.arm
                                .profile-info-name 팔 길이
                                .profile-info-value
                                  %span.editable#user-arm{ 'data-name' => 'arm' }= $user->user_info->arm
                                  %span.diff= $diff->{arm}
                                  %span.avg= $avg->{arm}

                              .profile-info-row.leg
                                .profile-info-name 다리 길이
                                .profile-info-value
                                  %span.editable#user-leg{ 'data-name' => 'leg' }= $user->user_info->leg
                                  %span.diff= $diff->{leg}
                                  %span.avg= $avg->{leg}

                              .profile-info-row.knee
                                .profile-info-name 무릎 길이
                                .profile-info-value
                                  %span.editable#user-knee{ 'data-name' => 'knee' }= $user->user_info->knee
                                  %span.diff= $diff->{knee}
                                  %span.avg= $avg->{knee}

                              .profile-info-row.thigh
                                .profile-info-name 허벅지 둘레
                                .profile-info-value
                                  %span.editable#user-thigh{ 'data-name' => 'thigh' }= $user->user_info->thigh
                                  %span.diff= $diff->{thigh}
                                  %span.avg= $avg->{thigh}
                                  %span.avg2= $avg2->{thigh} || ''

                              .profile-info-row.hip
                                .profile-info-name 엉덩이 둘레
                                .profile-info-value
                                  %span.editable#user-hip{ 'data-name' => 'hip' }= $user->user_info->hip
                                  %span.diff= $diff->{hip}
                                  %span.avg= $avg->{hip}
                                  %span.avg2= $avg2->{hip} || ''

                              .profile-info-row.foot
                                .profile-info-name 발 크기
                                .profile-info-value
                                  %span.editable#user-foot{ 'data-name' => 'foot' }= $user->user_info->foot
                                  %span.diff= $diff->{foot}
                                  %span.avg= $avg->{foot}

                              .profile-info-row
                                .profile-info-name 바지 길이
                                .profile-info-value
                                  %span.editable#user-pants{ 'data-name' => 'pants' }= $user->user_info->pants

                      .space-20

                      - my @search_params = (
                      -   { 'parent_id' => undef },
                      -   { order_by    => { -desc => 'rental_date' } },
                      - );
                      = include 'partials/recent-orders', orders => [ $user->orders(@search_params) ];
